
body {
	background:#000; 
	background:url(../images/demo-images/pageBack.jpg)
}

* {
  margin: 0;
  padding: 0;
}



/* panel images */
.mb-inside img {
  width: 100%;
}

#slider-one {
	background-color: transparent !important;
}

#slider-one p, #slider-two p, #slider-three p, #slider-four p, #slider-five p {
font-size: 11px;
	color: #ccc; 
	text-transform:uppercase; 
	position:relative; 
	top:-2.8em; 
	text-align:center; 
	font-weight:bold; 
	font-family:Arial, Helvetica, sans-serif; 
	text-shadow: 0px 0px 2px #000
}
	
.mb-inside a, .mb-inside a:visited {color:#0CF; text-decoration:none; font-size:13px; }
.mb-inside a:hover {color:#fff; text-decoration:none; font-size:13px; cursor:pointer}




/* DEMO STYLES - delete these */
.info {width:800px; margin:0 auto; color:#666; margin-top:50px; text-align:center; font-size:12px; padding-bottom:25px;}
.info a:link, .info a:visited {color:#ccc}
.info a:hover, .info a:active {color:#fff}
#wrapper {width:980px; margin:0 auto; background:#181818; -webkit-box-shadow: 0px 0px 15px #000;
-moz-box-shadow: 0px 0px 15px #000; padding:70px 0 25px 0}

