extends business-header

block content
	style(src='/custom/css/business.css')
	script(src='/custom/js/business.js')

	div.container-full

		div.gftnow-landing-video.hidden-sm.hidden-xs
			span.mask(style='z-index:999;height:100vh;')
				div.landing-nav
					div.landing-nav-header
						div.row
							div.col-md-5.col-sm-12.text-center
								br
								img(src='/img/gftnow-logo-big.png', style='width:40px;height:45px;')
								h4.gftnow-font-medium(style='display:inline;') GiftDrop
							div.col-md-2.col-sm-12.text-center
							div.col-md-5.col-sm-12.text-center
								br
								a#signin-link.gftnow-text-white(href='javascript:void(0);') Sign In
								span &nbsp;&nbsp;
								a.bttn-rounded(href='onboarding')
									b Get Started
								br
								div.gftnow-signbox.arrow_box_top.arrow_box_top_center
									form#loginform(method='post')
										input(type='hidden', name='key', value='')
										div.form-group
											input#email.form-control(type='text', name='email', placeholder='Email')
										div.form-group
											input#password.form-control(type='password', name='password', placeholder='Password')
										div.form-group
											button.btn.btn-default.btn-nobg.gftnow-btn.gftnow-btn-success.gftnow-btn-nobg(type='submit') Sign In
										div#errorCode.gftnow-hide(style='padding:5px;')
											div.alert.alert-danger
									hr
									div.form-group.text-center
										a#forgot-pw-link.text-black(href='javascript:void(0);', style='font-size:14px;') Forgot Password
									form#forgotPasswordForm.gftnow-hide(method='post')
										div.form-group
											input#email.form-control(type='text', name='email', placeholder='Email')
										div.form-group
											button.btn.btn-default.btn-nobg.gftnow-btn.gftnow-btn-success.gftnow-btn-nobg(type='submit') Create New Password
										div#errorCode1.gftnow-hide(style='padding:5px;')
											div.alert.alert-danger
				div#landing-video.section
					div.row
						
						div.col-md-12.text-center
							center
								span(style='border-style:solid;border-color:#fff;border-width:5px;padding:10px;display:inline-block;')
									h1.gftnow-font-bold(style='font-size:42px;color:#fff;') WELCOME TO GIFTDROP
								br
								br
								br
								ul#text-slider.hidden-sm.hidden-xs(style='list-style:none;color:white;font-size:80px;')
									li.gftnow-font-bold Choose Your
										b(style='color:#f1c40f;') Location
									li.gftnow-font-bold.gftnow-hide Drop
										b(style='color:#f1c40f;') Your Ads
									li.gftnow-font-bold.gftnow-hide Get More
										b(style='color:#f1c40f;') Business
					a#button-scroll-click(href='javascript:void(0);')
						div.button-scroll
							center
								br
								p#moving-mousescroll(style='color:white;font-size:10px;')
									i.fa.fa-chevron-down

		div.gftnow-landing-video.hidden-md.hidden-lg
			span.mask(style='min-height:none;height:480px;min-height:480px;z-index:999;position:absolute;background-color:rgba(0,0,0,0.5)')
				center
					img(src='/img/gftnow-logo-big.png', style='width:60px;height:65px;')
					a(href='#', style='color:white;') GiftDrop
					span(style='border-style:solid;border-color:#fff;border-width:5px;padding:10px;display:inline-block;')
						h1.gftnow-bold(style='font-size:18px;color:#fff;') WELCOME TO GIFTDROP
					br
					br
					ul#text-slider2(style='padding:0;list-style:none;color:white;font-size:24px;')
						li.gftnow-font-bold Choose Your
							b(style='color:#f1c40f;') Location
						li.gftnow-font-bold.gftnow-hide Drop
							b(style='color:#f1c40f;') Your Ads
						li.gftnow-font-bold.gftnow-hide Get More
							b(style='color:#f1c40f;') Business
					div.text-center
						a.bttn(href='javascript:void(0);') Login
					br
					div.text-center
						a.bttn(href='onboarding') Get Started

		div#mobileLogin.form.hidden-lg.hidden-md(style='background-color:black;padding:10px;display:none;')
			br
			form#loginform2(method='post')
				div.form-group
					input(type='hidden', name='key', value='')
				div.form-group
					input#email2(type='text', name='email', placeholder="Email")
				div.form-group
					input#password2(type='password', name='password', placeholder='Password')
				div.form-group.text-center
					button.btn.btn-default.btn-nobg.gftnow-btn.gftnow-btn-success.gftnow-btn-nobg(type='submit')
				div.gftnow-hide(style='padding:5px;', id='errorCode2')
					div.alert.alert-danger

		div#gftnow-landing-how.text-center.section
			h1
				b How It Works
			br
			center
				h4
					i#movingbox-prev.fa.fa-angle-left
					span &nbsp;&nbsp;
					span#movingbox-label 2/3
					span &nbsp;&nbsp;
					i#movingbox-next.fa.fa-angle-right

		div.row
			div.col-md-1
			div.col-md-10
				ul#slider-one
					li
						div.how-container
							center
								img.img-responsive(src='/img/how1.png')
								h3
									DropGifts On The Map
								Choose specific locations around
								br
								your store or spread randomly
								br
								arount the city
					li
						div.how-container
							center
								img.img-responsive(src='/img/how2.png')
								h3
									People Will Find It
									br
									And Come to Redeem It
								Either your physical store or an online page
					li
						div.how-container
							center
								img.img-responsive(src='/img/how3.png')
								h3
									DropGifts On The Map
								Choose specific locations around
								br
								your store or spread randomly
								br
								arount the city
			div.col-md-1

		div.text-center.section.row
			div.col-md-12.gftnow-font-18.gftnow-font-light(style='line-height:28px;')
				span Let’s face it, traditional customer aquasition became less effective. People tune our, skip
				br
				span and simply ingnore traditional banners and sponsored ads. What if you could reach new
				br
				span customers in a way they would enjoy too?
				br
				br
				br
				br
				br
				br

		div.section.section-success.text-center.gftnow-nopadding
			div.row.gftnow-no-padding
				div.col-md-2.text-center
				div#gftnow-landing-share-description.col-md-4.text-left
					div(style='height:200px;top:0;bottom:0;margin:auto;')
						h1 From Strangers to Customers to Friends
						p.gftnow-font-light Ads are not something people get excited about. That's why we created a fun playful way for people to discover and get to know your brand
				div#gftnow-landing-share.col-md-4 text-center
					div.gftnow-phone-bg(style='margin-top:-90px;right:50px;height:720px;width:360px;padding-top:90px;')
						video(src='/videos/1-Discover.mp4', width='300', autoplay='', loop='')
		div.text-center.section.hidden-xs.hidden-sm
			h1
				b Powerful Tools That Easy To Use

		div#myCarousel.carousel.slide.hidden-xs.hidden-sm(data-ride='carousel')
			div.text-center.section.row(style='min-height:700px;max-height:700px;')
				div.col-md-1
				div.col-md-1.col-sm-1.col-xs-1(style='min-height:700px;max-height:700px;')
					a.left.carousel-control(style='background-image:none;position:absolute;height:12px;top:0;bottom:0;margin:auto;', href='#myCarousel', data-slide='prev')
						span.glyphicon
							img(src='/img/slider-prev.png')
				div.col-md-8.col-sm-8.col-xs-8(style='min-height: 700px;max-height: 700px;')
					div.carousel-inner
						div.item.active
							img(src='/img/tools-to-use.png' alt='Los Angeles')
							br
							br
							br
							br
							br
							br
						div.item
							img(src='/img/tools-to-use.png' alt='Los Angeles')
							br
							br
							br
							br
							br
							br
				div.col-md-1.col-sm-1.col-xs-1(style='min-height:700px;max-height:700px;')
					a.right.carousel-control(style='background-image:none;position:absolute;height:12px;top:0;bottom:0;margin:auto;', href='#myCarousel' data-slide='next')
						span.glyphicon
							img(src='/img/slider-next.png')
				div.col-md-1

		br
		br
		br
		br
		br
		br

		div.text-center.section.row
			div.col-md-4
			div.col-md-4
				center
					a.gft-btn.gft-btn-warning(href='onboarding', style='padding:20px;padding-left:30px;padding-right:30px;width:250px;border-radius:50px;')
						b Get Started
			div.col-md-4

		br
		br
		br

		div.text-center.section.section-default.row
			div.col-md-4
			div.col-md-4
				center
					p.text-black 2017 Copyright All Rights Reserved
			div.col-md-4

	include loader-and-modal