extends header

block content
	script(src='/custom/js/campaigns.js')

	aside#left-panel
		div.login-info
			span
				img(src='/img/logo.png')
				span#gftnowtitle GiftDrop
		include menu

	div#main(role='main')
		div#ribbon(style='background-color:#ffffff;')
			div.pull-left
				span.minifyme.minify2
					i.fa.fa-angle-right.hit
			div.pull-right.notif
				ul
					li
						img(style='height:25px;width:25px;', src='/img/man.png')
					li#notif-bell
						img(src='/img/bell.png')
						b.badge 1
					li#logout(style='display:none;')
						i.fa.fa-sign-out.icon-gray(style='font-size:22px;')

		div#content(style='background-color:#ffffff;')
			br
			br
			br
			br
			div.row
				div#title.col-xs-12.col-sm-12.col-md-6.col-lg-6
					h1.gftnow-font-medium
						span.custom-title All Campaigns
						
				div#right-of-title.col-xs-12.col-sm-12.col-md-6.col-lg-6

			div.container
				div.row
					div.col-md-12

						//- Content
						br
						div.row
							div.col-md-12
								a(href='new_campaign')
									div.col-md-12.custom-flex-title
										h3.text-success.gftnow-font-regular New Campaign

								-function dateFormat(dateString){
									-var date = new Date(dateString);
									-var d = date.getDate();
									-var monthNums = [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12" ];
									-var m = monthNums[date.getMonth()];
									-var y = date.getFullYear();
									-return m+'/'+d+'/'+y;
								-}

								each product in listProducts.products
									if product.paymentState=="Paid"
										a(id=product.identifier, href='campaign_details?id='+product.identifier)
											div.col-md-12.custom-flex
												div(style='align-self:center;width:72px;height:40px;background:url('+product.photoURL+');background-size:cover;background-position: center center;')
												div.custom-subtitle
													h3.gftnow-font-regular(style='left:500px;')= product.name
												div.custom-right-text
													span.gftnow-font-light= dateFormat(product.created)

	include loader-and-modal