extends header

block content
	script(src='/custom/js/campaign_details.js')

	aside#left-panel
		div.login-info
			span
				img(src='/img/logo.png')
				span#gftnowtitle GiftDrop
		include menu

	div#main(role='main')
		div#ribbon(style='background-color:#ffffff;')
			div.pull-left
				span.minifyme.minify2
					i.fa.fa-angle-right.hit
			div.pull-right.notif
				ul
					li
						img(style='height:25px;width:25px;', src='/img/man.png')
					li#notif-bell
						img(src='/img/bell.png')
						b.badge 1
					li#logout(style='display:none;')
						i.fa.fa-sign-out.icon-gray(style='font-size:22px;')

		div#content(style='background-color:#ffffff;')
			br
			br
			br
			br
			div.row
				div#title.col-xs-12.col-sm-12.col-md-6.col-lg-6
					h1.gftnow-font-medium
						span.custom-title
						
				div#right-of-title.col-xs-12.col-sm-12.col-md-6.col-lg-6

			div.container
				div.row
					div.col-md-12

						//- Content
						div.row
							div.col-md-12.custom-campaign-title
								h1.gftnow-font-regular= product.name
							div.col-md-12
								center
									div.row(style='width:825px;')
										div.col-md-3(style='background-color:#F4F5F9;min-height:304px;')
											br
											br
											center
												img.img-responsive(src=logoURL, style='width:80%;')
										div.col-md-9(style='background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%),url('+product.photoURL+'); background-repeat:no-repeat; background-size: cover; background-position:center center; min-height:304px;')

							div.col-md-12
								br
								br
								div.row
									div.col-md-12
										div.gftnow-wizard-panel
											div.step1
												div.row
													div.col-md-1col-sm-1.col-xs-1
														h3
															a(href='campaigns')
																.fa.fa-chevron-left.nextWizard
													div.col-md-10.col-sm-12.col-xs-12
														div.active-name
															p Campaign Details

														div.row
															div.col-md-4
																p.gftnow-font-medium Campaign Description
															div.col-md-12= product.message
														br
														div.row
															div.col-md-12
																p.gftnow-font-medium Terms & Conditions
															div.col-md-12= product.termsAndConditions
														br
														div.row
															div.col-md-6
																p.gftnow-font-medium Campaign Drops:
															div.col-md-6
																select#select-view.form-control.pull-right(style='height:30px;width:100px;margin-top:-7px;')
																	option Map
																	option List
															div#view-map.col-md-12
																div#map.google_maps
															div#view-list.col-md-12.gftnow-hide

																-var i = 0;
																each location in latlng
																	-i++
																	div.flavor-campaigns(id='slide'+product.identifier)
																		div.campaign-drops
																			p.geocode(id='1geocode'+i, data-latlng=location)= location
																		div.campaign-drops-desc
																			div.row(style='margin-bottom:-100px;')
																				div.col-md-1
																					p(style='font-family:GothamRndMedium;') Type:
																				div.col-md-5
																					p(style='margin-left:145px;')= (product.vendor === -1 ? 'Free Product / Service' : 'Gift Card')
																				div.col-md-1
																					p(style='font-family:GothamRndMedium;') Location:
																				div.col-md-5
																					p(id='2geocode'+i, style='margin-left:30px;')= location
																			br
																			div.row
																				div.col-md-3
																					p(style='font-family:GothamRndMedium;') Value (per Drop):
																				div.col-md-9
																					p
																						span $
																						span= product.amount
																			br
																			div.row
																				div.col-md-9
																					p(style='font-family:GothamRndMedium;') Quantity (per Location):
																				div.col-md-3
																					-var qty = 0
																					each drop in drops
																						if (drop.location.latitude+','+drop.location.longitude == location)
																							-qty++
																					p(style='margin-left:-430px;')= qty
																			br
																			div.row
																				div.col-md-12
																					p(style='font-family:GothamRndMedium;')
																			br
																			div.row
																				div.col-md-12
																					ol.gftnow-wizard-list(type='number')
																						each drop in drops
																							li.drops(style=(drop.location.latitude+','+drop.location.longitude == location ? '' : 'display:none;'))
																								//-p.drop= (drop.senderVisibility == 'Unknown' ? '' : drop.barcode)
																								p.drop= drop.barcode
																								
																	input.address(type='hidden', value=location, data-qty=qty)
														br

						div#drop-info-unchecked.gftnow-mask(style='overflow-y: auto;')
							div.gftnow-panel(style='position:absolute;z-index:999;min-width: 600px;width: 500px;top:100px;left:0;right:0;top:0;bottom:0;margin:auto auto;')
								center
									h4(style='font-family:GothamRndMedium;')
										b Drop Information
									br
									svg#barcode
									div#drop-info-content
									br
									br
									p(style='text-align:center;padding:0px;') The drop is still available.
									span(style='color:#8bc24a;cursor:pointer;font-size:1.3em;') Mark as redeemed
									br
									br
									br
									br
									label#close-drop-info-unchecked.btn.btn-success.gftnow-btn-rounded(type='button') &nbsp;&nbsp;Close&nbsp;&nbsp;

						div#drop-info-checked.gftnow-mask(style='overflow-y:auto;')
							div.gftnow-panel(style='position:absolute;z-index:999;min-width:600px;width: 500px;height:430px;top:90px;left:0;right:0;top:0;bottom:0;margin:auto auto;')
								center
									h4(style='font-family:GothamRndMedium;')
										b Drop Information
									br
									svg#barcode
									div#drop-info-content
									div.row(style='padding:30px;')
										div.col-md-1
										div.col-md-8
											br
											div(style='text-align:left;') John Sweanson redeemed the drop on February 18, 2017 in 3892 SW 21st Street Tigard, OR 98210
									label#close-drop-info-checked.btn.btn-success.gftnow-btn-rounded(type='button') &nbsp;&nbsp;Close&nbsp;&nbsp;

			include loader-and-modal
