extends header

block content
	script(src='/custom/js/campaign_paypal.js')

	aside#left-panel
		div.login-info
			span
				img(src='/img/logo.png')
				span#gftnowtitle GiftDrop
		include menu

	div#main(role='main')
		div#ribbon(style='background-color:#ffffff;')
			div.pull-left
				span.minifyme.minify2
					i.fa.fa-angle-right.hit
			div.pull-right.notif
				ul
					li
						img(style='height:25px;width:25px;', src='/img/man.png')
					li#notif-bell
						img(src='/img/bell.png')
						b.badge 1
					li#logout(style='display:none;')
						i.fa.fa-sign-out.icon-gray(style='font-size:22px;')

		div#content(style='background-color:#ffffff;')
			br
			br
			br
			br
			div.row
				div#title.col-xs-12.col-sm-12.col-md-6.col-lg-6
					h1.gftnow-font-medium
						span.custom-title
						
				div#right-of-title.col-xs-12.col-sm-12.col-md-6.col-lg-6

			div.container
				div.row
					div.col-md-12

						//- Content
						div.row
							div.col-md-12
								center
									h2.gftnow-title Payment
									span Provide your payment information
									br
									br
									div.row(style='width:200px;')
										div.col-md-4
											div.numberCircle 1
										div.col-md-4
											div.numberCircle 2
										div.col-md-4
											div.numberCircle.active 3

								div.onboarding(style='box-shadow:none;')
									div.onboarding-content
										div.step3
											div.paypal-visa
												div.row
													div.col-md-4
														center
															h3 Number of Drops
															p(style='font-size:35px;color:#8BC24A;')
																b= total_qty
													div.col-md-4
														center
															h3 Per Drop Fee
															p(style='font-size:35px;color:#8BC24A;')
																b $
																	span= session.drops.offer
													div.col-md-4
														center
															h3 Total
															input#amount(type='hidden', name='amount' value=total_charge)
															p(style='font-size:35px;color:#8BC24A;')
																b $
																	span= total_charge
										hr
										form#payment-form(method='post', style='width:100%;', action='')
											div.form-row
												h3
													label(for='card-element') Credit or debit card
												div.row
													div.col-md-9
														div#card-element
													div.col-md-3
														button#submit.btn.btn-default.gftnow-btn.gftnow-btn-success(type='submit') Submit Payment
												div#card-errors(role='alert')

										form#paymentsubmit(method='get', action='campaign_paypal/buyDraftProduct')
											input#product_id(type='hidden', name='product_id' value=p_id)

			include loader-and-modal