extends header

block content
	style(src='/custom/css/dashboard.css')
	script(src='/custom/js/dashboard.js')

	aside#left-panel
		div.login-info
			span
				img(src='/img/logo.png')
				span#gftnowtitle GiftDrop
		include menu

	div#main(role='main')
		div#ribbon(style='background-color:#ffffff;')
			div.pull-left
				span.minifyme.minify2
					i.fa.fa-angle-right.hit
			div.pull-right.notif
				ul
					li
						img(style='height:25px;width:25px;', src='/img/man.png')
					li#notif-bell
						img(src='/img/bell.png')
						b.badge 1
					li#logout(style='display:none;')
						i.fa.fa-sign-out.icon-gray(style='font-size:22px;')

		div#content(style='background-color:#ffffff;')
			br
			br
			br
			br
			div.row
				div#title.col-xs-12.col-sm-12.col-md-6.col-lg-6
					h1.gftnow-font-medium
						span.custom-title Overview
						
				div#right-of-title.col-xs-12.col-sm-12.col-md-6.col-lg-6

			div.container
				div.row
					div.col-md-12

						//- Content
						-var spendings = new Array();
						-var placedDrops = new Array();
						-var pickedDrops = new Array();
						-var redeemedDrops = new Array();

						-function dateFormat(dateString){
							-var date = new Date(dateString);
							-var d = date.getDate();
							-var monthNums = [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12" ];
							-var m = monthNums[date.getMonth()];
							-var y = date.getFullYear();
							-return y+'-'+m+'-'+d;
						-}

						each spending in stats.spendings
							-spendings.push({spendings:spending.amount, period:dateFormat(spending.from)});

						each placedDrop in stats.placedDrops
							-placedDrops.push({placed_drops:placedDrop.count, period:dateFormat(placedDrop.from)});

						each pickedDrop in stats.pickedDrops
							-pickedDrops.push({picked_drops:pickedDrop.count, period:dateFormat(pickedDrop.from)});

						each redeemedDrop in stats.redeemedDrops
							-redeemedDrops.push({redeemed_drops:redeemedDrop.count, period:dateFormat(redeemedDrop.from)});

						input#spendings(type='hidden', value=JSON.stringify(spendings))
						input#placed_drops(type='hidden', value=JSON.stringify(placedDrops))
						input#picked_drops(type='hidden', value=JSON.stringify(pickedDrops))
						input#redeemed_drops(type='hidden', value=JSON.stringify(redeemedDrops))
						br
						div.row
							div.col-md-6.col-sm-12.col-xs-12
								div.panel(style='background-color:#F4F5F8;padding:10px;')
									b Placed Drops
									div#placed-drops-graph
							div.col-md-6.col-sm-12.col-xs-12
								div.panel(style='background-color:#F4F5F8;padding:10px;')
									b Spendings
									div#spendings-graph

	include loader-and-modal
