extends business-header

block content
	//- h1= message
	//- h2= error.status
	//- pre #{error.stack}

	style(src='/custom/css/error.css')
	script(src='/custom/js/error.js')

	div.container-full
			div.landing-nav-2
				div.landing-nav-header(style='width:90%;')
					div.row
						div.col-md-12.text-center.title-logo
						br
						br
						br
						br
			br
			br
			center
				h1(style='color:#E3B338;font-size:70px;')
					i.fa.fa-warning
				h1(style='font-size:60px;') Error #{error.status}
				img(src='/img/sampleupload2-1.png')
				h3.gftnow-font-light
					span Page doesn't exists or some other
					a#view-errors.err-link.gftnow-font-medium(href='javascript:void(0);') &nbsp;error&nbsp;
					span occured.
					br
					span Go back to our
					a.err-link.gftnow-font-medium(href='/') &nbsp;home page&nbsp;
					span or go back to
					a#prev-page.err-link.gftnow-font-medium(href='javascript:void(0);') &nbsp;previous page&nbsp;
					span .
					br
				div#errors-stack.gftnow-hide
					pre.gftnow-scrollbar.text-left(style='width:900px;left:0;right:0;') #{error.stack}
					br
					br
	  	  
