doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    title GiftDrop
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/smartadmin-production_unminified.css')
    link(rel='stylesheet', href='css/smartadmin-skins.css')
    link(rel='stylesheet', href='css/gftnow.css')
    link(rel='stylesheet', href='css/fancymoves.css')
    link(rel='stylesheet', href='css/jquery.fancybox-1.3.4.css')
    link(rel='stylesheet', href='css/demo.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
    link(rel='stylesheet', href='/custom/css/index.css')

    script(src='http://code.jquery.com/jquery-1.8.0.min.js')
    script(src='/js/jquery-easing.1.2.js')
    script(src='/js/bootstrap/bootstrap.min.js')
    script(src='/js/notification/SmartNotification.min.js')
    script(src='/js/smartwidgets/jarvis.widget.min.js')
    script(src='/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js')
    script(src='/js/plugin/sparkline/jquery.sparkline.min.js')
    script(src='/js/plugin/jquery-validate/jquery.validate.min.js"')
    script(src='/js/plugin/masked-input/jquery.maskedinput.min.js')
    script(src='/js/plugin/select2/select2.min.js')
    script(src='/js/plugin/bootstrap-slider/bootstrap-slider.min.js')
    script(src='/js/plugin/msie-fix/jquery.mb.browser.min.js')
    script(src='/js/plugin/fastclick/fastclick.js')
    script(src='/js/demo.js')
    script(src='MovingBoxes-master/js/jquery.movingboxes.js')
    script(src='/js/app.js')
    script(src='/js/gftnow.js')
    script(src='/js/plugin/flot/jquery.flot.cust.js')
    script(src='/js/plugin/flot/jquery.flot.resize.js')
    script(src='/js/plugin/flot/jquery.flot.tooltip.js')
    script(src='/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js')
    script(src='/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js')
    script(src='/js/plugin/fullcalendar/jquery.fullcalendar.min.js')
    script(src='/js/plugin/morris/raphael.2.1.0.min.js')
    script(src='/js/plugin/morris/morris.min.js')
    script(src='/js/plugin/Chart.js-2.5.0/dist/Chart.min.js')
    script(src='/js/plugin/bootstrap-select-1.12.2/dist/js/bootstrap-select.min.js')
    script(src='/js/plugin/bootstrap-slider/bootstrap-slider.min.js')
    script(src='/js/jsbarcode.min.js')
    script(src='/custom/js/index.js')
    
    body.gftnow-scrollbar(style='background-color:#ffffff;padding:0;margin:0;height:100%;margin:0px;overflow:none!important;')
        block content