extends index-header

block content

	div.container-full(style='background-color:#FFFFFF')

		div.gftnow-landing-video2.hidden-sm.hidden-xs
			span.mask(style='z-index:999;height:100vh;')
				div.landing-nav
					div.landing-nav-header
						br
						div.row(style='font-size:22px;')
							div.col-md-12.col-sm-12.text-center
								div.row
									div.col-md-5.col-sm-12.text-center
										img(src='/img/gftnow-logo-big.png', style='width:60px;height:65px;')
										a(href='#', style='color:white;') GiftDrop
									div.col-md-2.col-sm-12.text-center
									div.col-md-5.col-sm-12.text-center
										a.bttn(href='business') For Business
										br
										br
										br
										br
										br
				div#landing-video.section.hidden-sm.hidden-xs
					div.row
						div.col-md-12.text-center.subheader
							h1.text-white(style='font-size:52px;') DISCOVER FREE GIFTS AROUND YOU
					div.row
						br
						br
						div.col-md-4
						div.col-md-2.col-sm-6.col-xs-6.text-right
							a(href='#')
								img(src='/img/google-play.png')
						div.col-md-2.col-sm-6.col-xs-6.text-left
							a(href='#')
								img(src='/img/app-store.png')
						div.col-md-4
					a#button-scroll-click(href='javascript:void(0);')
						div.button-scroll
							center
								br
								p#moving-mousescroll(style='color:white;font-size:10px;')
									i.fa.fa-chevron-down
			video(src='/videos/Videoplace.mp4', style='width:100%;height:auto;z-index:0;filter:opacity(.4);', autoplay='', loop='')

		div.section.hidden-md.hidden-lg(style='background-color:black;padding:0;')
			div.mask(style='width:100%;height:510px;z-index:999;position:absolute;background-color:rgba(0,0,0,0.5)')
				div.text-center
					a(href='#', style='color:white;')
				div.row
					div.col-md-12.text-center.subheader
						img(src='/img/gftnow-logo-big.png', style='width:60px;height:65px;')
						//-a(href='#', style='color:white;') GiftDrop
						div.text-center
							a.bttn(href='business') FOR BUSINESS
						br
						br
						br
						h1.text-white(style='font-size:24;') DISCOVER FREE GIFTS AROUND YOU
						br
						a(href='#')
							img(src='/img/google-play.png')
						a(href='#')
							img(src='/img/app-store.png')
				
			video(src='/videos/Videoplace.mp4', style='width:100%;height:auto;z-index:0;filter:opacity(.4);', autoplay='', loop='')

		div#gftnow-landing-discover.text-center.section.gftnow-nopadding
			div.row.gftnow-nopadding
				div.col-md-2.text-center
				div.col-md-4.text-center(style='min-height:700px;')
					img#jordan-shoes(src='/img/jordan-shoes.png', style='top:600px;left:-150px;bottom:0;margin:auto;position:absolute;height:300px;width:500px;z-index:9998;')
					img#healthy-burger(src='/img/healthy-burger.png' style='top:550px;left:250px;bottom:0;margin:auto;position:absolute;height:180px;width:330px;z-index:9997;')
					div.gftnow-phone-bg(style='top:0;left:60px;bottom:-200px;margin:auto;position:absolute;z-index:9999;height:720px;width:360px;padding-top:90px;')
						video.phone(src='/videos/1-Discover.mp4' width='300', style='bottom:0;', autoplay='', loop='')
				div#gftnow-landing-discover-description.col-md-6.text-left(style='min-height:700px;z-index:99999;top:135px;')
					h1(style='color:#669c4c;font-size:52px;') Discover Free Stuff
					p.gftnow-font-medium(style='font-size:22px;display:inline;') So many free cool items are all around you:
					br
					p.gftnow-font-medium(style='font-size:22px;display:inline;') from free burger or pairs of shoes to an hour
					br
					p.gftnow-font-medium(style='font-size:22px;display:inline;') of massage or stay at the hotel

		div#gftnow-landing-share.section.section-success.text-center.gftnow-nopadding
			div.row.gftnow-padding
				div.col-md-2
				div#gftnow-landing-share-description.col-md-4.text-center.hidden-sm.hidden-xs(style='min-height:700px;z-index:9999;top:250px;')
					h1.gftnow-font-medium(style='color:#333333;top:-100px;font-size:52px;') Share With Friends
					p.gftnow-font-medium(style='font-size:22px;display:inline;') Discovered cool stuff but know
					br
					p.gftnow-font-medium(style='font-size:22px;display:inline;') somebody who needs it more? Make
					br
					p.gftnow-font-medium(style='font-size:22px;display:inline;') their day but simply regifting it to them
				div.col-md-4.text-center(style='min-height:700px;')
						br
						br
						br
						div.gftnow-phone-bg(style='top:0;position:absolute;right:0;height:720px;width:360px;padding-top:90px;')
							video.phone(src='/videos/2-Regift.mp4', width='300', autoplay='', loop='')
				div.col-md-2.text-center

		div#gftnow-landing-give.text-center.section.gftnow-nopadding
			div.row.gftnow-nopadding
				div.col-md-2.text-center
				div#gftnow-landing-give.col-md-4.text-center(style='min-height:700px;')
					img#girl-and-phone(src='/img/girl-and-phone.png', style='top:250px;left:-250px;bottom:0;margin:auto;position:absolute;height:677px;width:622px;z-index:9998;')
					img#gift-card(src='/img/gift-card.png', style='top:620px;left:330px;bottom:0;margin:auto;position:absolute;height:137px;width:329px;z-index:9997;')
					.gftnow-phone-bg(style='top:180px;left:100px;bottom:0;margin:auto;position:absolute;z-index:9999;height:720px;width:360px;padding-top:90px;')
						video.phone(src='/videos/3-Send.mp4', width='300', autoplay='', loop='')
				div#gftnow-landing-give-description.col-md-6.text-right(style='min-height:700px;z-index:9999')
					div(style='position:absolute;height:200px;top:0;bottom:0;margin:auto;')
						h1(style='color:#669c4c;font-size:52px;') The Joy of Giving
						p.gftnow-font-medium(style='font-size:22px;display:inline;') You can pay a roomate back, send friend a
						br
						p.gftnow-font-medium(style='font-size:22px;display:inline;') gift cardor creat a scavanger hunt by
						br
						p.gftnow-font-medium(style='font-size:22px;display:inline;') dropping money on the map

		div#gftnow-landing-slider.section.section-success.text-center.gftnow-nopadding
			div.row.gftnow-padding
				div.col-md-1
				div#gftnow-landing-slider-description.col-md-5.text-center(style='min-height:700px;top:250px;')
					h1.gftnow-font-medium(style='color:#333333;top:-100px;font-size:52px;') Don’t Take Our Word For It
					p.gftnow-font-medium(style='color:#669c4c;font-size:22px;') Sounds too good to be true? This is what other people say about this
				div#gftnow-landing-slider-images.col-md-5.text-center(style='min-height:700px;')
					img#green-container(src='img/green-container.png', style='top:0;right:0;bottom:0;margin:auto;position:absolute;height:444px;width:508px;z-index:9998;')
					ul#text-slider(style='list-style:none;color:#ebf8a1;font-size:22px;top:200px;right:150px;position:absolute;z-index:9999;width:300px;')
						li.gftnow-font-bold
							i “This is so much fun! I live exploring the city with friends and finding cools stuff!”
						li.gftnow-font-bold
							i “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
						li.gftnow-font-bold
							i “Nullam vel fringilla turpis, ac ultrices quam.”
				div.col-md-1
				div#canvas(style='position:absolute;right:0;')

		div#gftnow-landing-download.section.text-center.gftnow-nopadding(style='z-index:99999;')
			div.row.gftnow-padding
				div.col-md-1
				div.col-md-5
					div.gftnow-phone-bg(style='top:0;left:120px;bottom:0;margin:auto;z-index:9999;height:720px;width:360px;padding-top:90px;')
						video.phone(src='/videos/3-Send.mp4', width='300' autoplay='', loop='')
				div#gftnow-landing-download-description.col-md-5.text-right(style='min-height:700px')
					br
					br
					br
					br
					h1(style='font-size:52px;color:#000000;') Walking is not only good for your health, now it is good for your wallet as well
					br
					a(href='#')
						img.download-img(src='/img/google-app-black.png', style='width:200px;height:68px;')
						img.download-img(src='/img/app-store-black.png', style='width:200px;height:68px;')
				div.col-md-1

		div.text-center.section.section-default.row(style='z-index:99999;font-size:22px;')
			div.col-md-5.text-center(style='z-index:99999;')
				br
				br
				img(src='/img/logo.png')
				span.gftnow-font-medium Gift Drop
			div.col-md-3.text-left(style='z-index:99999;')
				span.gftnow-font-medium Links
				br
				br
				a.gftnow-font-color-light(href='#') FAQ
				br
				a.gftnow-font-color-light(href='#') About
				br
				a.gftnow-font-color-light(href='#') For Business
				br
				a.gftnow-font-color-light(href='#') How It Works
				br
				br
				br
			div.col-md-4.text-left(style='z-index:99999;')
				br
				a(href='#')
					img(src='/img/fb-mini.png')
				span &nbsp;&nbsp;
				a(href='#')
					img(src='/img/insta-mini.png')
				span &nbsp;&nbsp;
				a(href='#')
					img(src='/img/youtube-mini.png')
				span &nbsp;&nbsp;
				a(href='#')
					img(src='/img/twitter-mini.png')
				span &nbsp;&nbsp;