div#mask2.gftnow-mask
	div.gftnowLoader
		center
			img(src='/img/ring-alt.svg' alt='loading...')

div#gftnow-alert-modal.gftnow-modal.modal.fade(role='dialog')
	div.modal-dialog
		div.modal-content
			div.modal-header.gftnow-font-medium(align='center')
			div.modal-body
				p#gftnow-alert-modal-content
			div#modal-footer.modal-footer.text-center(style='height:80px;')
				button#closeBtn.btn.btn-default.btn-nobg.gftnow-btn.gftnow-btn-success(type='button', data-dismiss='modal') Close