nav
	ul
		li#business-menu-company-profile
			a(href='profile', title='Company Profile')
				img(src='/img/overview_logo.png')
				span.menu-item-parent Company Profile
		li#business-menu-dashboard
			a(href='dashboard', title='Dashboard')
				img(src='/img/users.png')
				span.menu-item-parent Dashboard
		li#business-menu-campaign
			a(href='campaigns', title='Campagins')
				img(src='/img/vendors.png')
				span.menu-item-parent Campaigns
nav.nav-bottom
	ul
		li
			a(href='#', title='Overview')
				img(src='/img/settings.png')
				span.menu-item-parent Settings
		li
			a(href='#', title='Users')
				img(src='/img/support.png')
				span.menu-item-parent Support
		li
			a(href='#', title='Vendor')
				img(src='/img/helpcenter.png')
				span.menu-item-parent Help Center