extends header

block content
	script(src='/custom/js/new_campaign.js')

	aside#left-panel
		div.login-info
			span
				img(src='/img/logo.png')
				span#gftnowtitle GiftDrop
		include menu

	div#main(role='main')
		div#ribbon(style='background-color:#ffffff;')
			div.pull-left
				span.minifyme.minify2
					i.fa.fa-angle-right.hit
			div.pull-right.notif
				ul
					li
						img(style='height:25px;width:25px;', src='/img/man.png')
					li#notif-bell
						img(src='/img/bell.png')
						b.badge 1
					li#logout(style='display:none;')
						i.fa.fa-sign-out.icon-gray(style='font-size:22px;')

		div#content(style='background-color:#ffffff;')
			br
			br
			br
			br
			div.row
				div#title.col-xs-12.col-sm-12.col-md-6.col-lg-6
					h1.gftnow-font-medium
						span.custom-title
						
				div#right-of-title.col-xs-12.col-sm-12.col-md-6.col-lg-6

			div.container
				div.row
					div.col-md-12

						//- Content
						div.row
							div.col-md-12
								form#uploadForm(method='post', enctype='multipart/form-data', action='upload')
									input#fileupload(type='file', name='filename', style='display:none;')
								form#form1(method='post', action='')
									div.row
										dov.col-md-12
											center
												h2.gftnow-title Create Campaign
												span What would you like to Promote?
												br
												br
												div.row(style='width:200px;')
													div.col-md-4
														div.numberCircle.active 1
													div.col-md-4
														div.numberCircle 2
													div.col-md-4
														div.numberCircle 3
											div.onboarding(style='box-shadow:none;')
												div.onboarding-content
													div.row
														div.col-md-6
															br
															br
															p#campaignname-placeholder.placeholder-effect
															input#campaignname.form-control(type='text', name='campaignname', placeholder='Campaign Title' value= campaign.name)
														div.col-md-6(style='padding-top:17px;')
															p Type
															div.gftnow-inline
																div.gftnow-form
																	div.gftnow-checkbox(data-name='type', data-value='gift-card')
																	label Gift Card
																div.gftnow-form
																	div.gftnow-checkbox(data-name='type', data-value='free-product')
																	label Free Product / Service
															input#type(type='hidden', name='type')
													br
													div#image-preview.row
														div.col-md-12
															p Image Preview
															input#campaignimage(type='hidden', name='campaignimage')
															input#campaignimagetype(type='hidden', name='campaignimagetype')
															div.gftnow-uploader-slider
																div.gftnow-fader
																	img(src='/img/chevron-left.png')
																ul#uploader-content(style='list-style:none;margin-left:-40px;')
																	li
																		div#custom-upload.uploadLogo.uploadLogo2.fileinput-button.card-preview-small(style='display:none;')
																			br
																			br
																			br
																			br
																			dib.label2
																				div#custom-upload-content
													br
													br
													div.row
														div.col-md-12
															p#description-placeholder.placeholder-effect
															textarea#description.form-control(type='text', name='description', placeholder='Description', style='height: 180px;' value=campaign.description)
													br
													br
													div.row
														div.col-md-12
															p#terms-placeholder.placeholder-effect
															textarea#terms.form-control(type='text', name='terms', placeholder='Terms & Conditions', style='height: 180px;' value=campaign.terms)
													br
													input#token(type='hidden')
													input#gftvendor(type='hidden' value=campaign.gftvendor)
													input#gftamount(type='hidden' value=campaign.gftamount)
													input#gfttype(type='hidden' value=campaign.type)
													input#gftimage(type='hidden' value=campaign.image)

													div.pull-left
														a.btn.btn-default.btn-nobg.gftnow-btn.gftnow-btn-success.gftnow-btn-nobg(href='campaigns')
															i.fa.fa-chevron-left
															span &nbsp;&nbsp; BACK
													div.pull-right
														button#submit.btn.btn-default.gftnow-btn.gftnow-btn-default(type='submit') NEXT &nbsp;&nbsp;
															i.fa.fa-chevron-right

	div#other-brand.gftnow-mask(style='overflow-y: auto;')
		div.gftnow-panel(style='position:absolute;z-index:999;min-width: 740px;width: 700px;top:10px;left:0;right:0;margin: 0 auto;')
			div#other-brand-content(align='center')

	div#uploadModal.modal.fade(role='dialog')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal') &times;
					h4.modal-title Upload Logo
				div.modal-body
					div.img-container(style='width:100%;')
				div.modal-footer
					button.cropnow.btn.btn-default.gftnow-btn.gftnow-btn-success(type='button') Crop

	include loader-and-modal