extends header

block content
	script(src='/custom/js/new_campaign-2.js')

	aside#left-panel
		div.login-info
			span
				img(src='/img/logo.png')
				span#gftnowtitle GiftDrop
		include menu

	div#main(role='main')
		div#ribbon(style='background-color:#ffffff;')
			div.pull-left
				span.minifyme.minify2
					i.fa.fa-angle-right.hit
			div.pull-right.notif
				ul
					li
						img(style='height:25px;width:25px;', src='/img/man.png')
					li#notif-bell
						img(src='/img/bell.png')
						b.badge 1
					li#logout(style='display:none;')
						i.fa.fa-sign-out.icon-gray(style='font-size:22px;')

		div#content(style='background-color:#ffffff;')
			br
			br
			br
			br
			div.row
				div#title.col-xs-12.col-sm-12.col-md-6.col-lg-6
					h1.gftnow-font-medium
						span.custom-title
						
				div#right-of-title.col-xs-12.col-sm-12.col-md-6.col-lg-6

			div.container
				div.row
					div.col-md-12

						//- Content
						div.row
							div.col-md-12
								center
									h2.gftnow-title Drops Details
									span Please check and confirm the campaign details
									br
									br
									div.row(style='width:200px;')
										div.col-md-4
											div.numberCircle 1
										div.col-md-4
											div.numberCircle.active 2
										div.col-md-4
											div.numberCircle 3

								div.onboarding(style='box-shadow:none;')
									div.onboarding-content
										div.row
											div.col-md-12
												b= session.campaign.name
												br
												br
												div.row(style='width:825px;')
													div.col-md-3(style='background-color:#F4F5F9;min-height:304px;')
														br
														br
														center
															img.img-circle.img-responsive(src=session.userInfo.account.logoURL, style='width:80%;')
															h3(style='font-size:24px;')= session.campaign.name
													div.col-md-9(style='background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%),url('+session.campaign.image+'); background-repeat:no-repeat; background-size: cover; background-position:center center; min-height:304px;')
										br
										br
										div.row
											div.col-md-12
												p Description
												b.gftnow-font-medium= session.campaign.description
										br
										div.row
											div.col-md-12
												p Terms & Conditions
												b.gftnow-font-medium= session.campaign.terms
										br
										div.row
											div.col-md-12
												p Location (s)
												div.row
													div.col-md-12.gftnow-nopadding
														div#map.google_maps
										br
										div.row
											div.col-md-12
												p Value of the Offer
												b $&nbsp;
												b= session.drops.offer
										br
										div.row
											div.col-md-12
												p Start Date
												b= session.drops.date1
										br
										div.row
											div.col-md-12
												p Redemptation Details
												b= session.drops.redemption_details

									div.pull-left
										a.btn.btn-default.btn-nobg.gftnow-btn.gftnow-btn-success.gftnow-btn-nobg(href='new_campaign-1')
											span
												i.fa.fa-chevron-left
											b &nbsp;&nbsp; BACK

									div.pull-right
										a.btn.btn-default.gftnow-btn.gftnow-btn-success(href='campaign_paypal') Confirm &nbsp;&nbsp;
											span
												i.fa.fa-chevron-right