extends header

block content
	style(src='/custom/css/new_campaign-1.css')
	script(src='/custom/js/new_campaign-1.js')

	aside#left-panel
		div.login-info
			span
				img(src='/img/logo.png')
				span#gftnowtitle GiftDrop
		include menu

	div#main(role='main')
		div#ribbon(style='background-color:#ffffff;')
			div.pull-left
				span.minifyme.minify2
					i.fa.fa-angle-right.hit
			div.pull-right.notif
				ul
					li
						img(style='height:25px;width:25px;', src='/img/man.png')
					li#notif-bell
						img(src='/img/bell.png')
						b.badge 1
					li#logout(style='display:none;')
						i.fa.fa-sign-out.icon-gray(style='font-size:22px;')

		div#content(style='background-color:#ffffff;')
			br
			br
			br
			br
			div.row
				div#title.col-xs-12.col-sm-12.col-md-6.col-lg-6
					h1.gftnow-font-medium
						span.custom-title
						
				div#right-of-title.col-xs-12.col-sm-12.col-md-6.col-lg-6

			div.container
				div.row
					div.col-md-12

					//- Content
					div.row
						div.col-md-11
							center
								h2.gftnow-title Drops Details
								span Specify details about the gift drops you want to promote
								br
								br
								div.row(style='width:200px;')
									div.col-md-4
										div.numberCircle 1
									div.col-md-4
										div.numberCircle.active 2
									div.col-md-4
										div.numberCircle 3

							form#form(method='post', action='new_campaign-1/submit')
								input(type='hidden', name='key5', value='')
								input#barcodes(type='hidden', name='barcodes' value=(drops.barcodes ? drops.barcodes : ''))
								input#drops(type='hidden', name='drops')
								input#barcodetype(type='hidden', name='barcodetype', value='')

								if drops.drops
									input#sessiondrops(type='hidden', name='sessiondrops', value=JSON.stringify(drops))

								input#type(type='hidden' value=campaign.type )
								input#vendor(type='hidden', value=campaign.gftvendor)
								input#gftamount(type='hidden' value=campaign.gftamount)
							
								div.onboarding(style='box-shadow:none;')
									div.onboarding-content
										div.row
											div.col-md-12
												p Location (s)
												div.row
													div.col-md-12.gftnow-nopadding
														div#map-error.gftnow-hide
															center
																p.gftnow-font-regular Map failed to load.
																a.btn.btn-success(href='new_campaign-1')
																	i.fa.fa-refresh
																	span Restart
														div#map.google_maps
										br
										div.row
											div.col-md-12
												br
												p.placeholder-effect.active
													div.row
														div.col-md-12.gftnow-nopadding
															div.row
																div.col-md-2(style='width:12%;')
																	div(style='width:72px;height:40px;background:url('+campaign.image+');background-size:cover;background-position:center center;')
																div.col-md-1(style=(campaign.vendor == -1 ? 'display:none;' : ''))
																	a#offer-minus.btn.btn-default.btn-nobg.gftnow-btn-circle.gftnow-btn-default.gftnow-btn-nobg(href='javascript:void(0);')
																		i.fa.fa-minus
																div.col-md-2
																	div.inner-addon.left-addon
																		span.addon-dollar
																			i.fa.fa-dollar
																		input#offer.form-control(type='text', name='offer', value=(drops.offer ? drops.offer : 0), style='text-align:center;height:38px;margin-left:-38px;')
																div.col-md-1(style=(campaign.vendor == -1 ? 'display:none;' : ''))
																	a#offer-plus.btn.btn-default.gftnow-btn-circle.gftnow-btn-success(href='javascript:void(0);', style='margin-left:-60px;')
																		i.fa.fa-plus
																div.col-md-6
										br
										div#tmp-add-drop
										div#row-counter-container.row.gftnow-hide
											div.col-md-7
												p.rowcounter(style='display:inline-block;width:29px;margin-left:11px;')
												div#add-new-btn2.gftnow-container.text-center(style='background-color:#514F4F;display:inline-block;width: 40px;cursor: pointer;')
													img(src='/img/icon-plus-white.png', style='height: 26px;width:auto;')
										div#tmp-with-panel.row.gftnow-display-none
											div.col-md-12
												div.row
													div.col-md-7.gftnow-nopadding
														p.rowcounter(style='display:inline-block;width:30px;')
														input#txt-address-clicked.form-control(type='text', placeholder='Type address here')
													div.col-md-2.text-right
														p Quantity
													div#quantityDiv.col-md-3
														i#minus_qty.fa.fa-chevron-left
														input#quantity.form-control.text-center.quantity(type='text', style='display:inline-block;width:50px;', value='1')
														i#add_qty.fa.fa-chevron-right

											br
											br

										div#generateBarcodes.gftnow-panel.gftnow-hide.barcodes-div
											div.pull-right
												a#close_generateBarcodes(href='javascript:void(0);')
													i.fa.fa-times
											center
												b Bar Codes
												br
												span Enter your barcodes manually
												br
												br
												label#generateBarcodesBtn.btn.btn-success.gftnow-btn-rounded(type='button', style='display:none;')
												div#generateBarcodes

										div#uploadBarcodes.gftnow-panel.gftnow-hide.barcodes-div
											div.pull-right
												a#close_uploadBarcodes(href='javascript:void(0);')
													i.fa.fa-times
											center
												b Bar Codes
												br
												span Enter your generated barcodes manually
												br
												br
												label#uploadBarcodesBtn.btn.btn-success.gftnow-btn-rounded Upload from file
												div#uploadedBarcodessample
													br
													br
													div(style='overflow-y:auto;height:240px;')
														table#gftnow-barcodes-table.table
															tr
																td 1
																td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																td
															tr
																td 2
																td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																td
															tr
																td 3
																td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																td
															tr
																td 4
																td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																td
															tr
																td 5
																td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																td
															tr
																td 6
																td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																td
													br
													br
													a.doneBtn.btn.gftnow-btn-default.gftnow-btn-rounded(href='javascript:void(0);') Done
												div#uploadedBarcodestable

										div.row
											div.col-md-12
												br
												p#date1-placeholder.placeholder-effect Date
												div.row
													div.col-md-2
														input#date1.form-control(type='text', name='date1', placeholder='Date', value=(drops.date1 ? drops.date1 : ''))
													div.col-md-1
														div.gftnow-container.text-center
															img(src='/img/icon-calendar.png', style='height:18px;width:auto;')
													div.col-md-2
														input#time1.form-control(type='text', name='time1', placeholder='07 : 00 AM', value=(drops.time1 ? drops.time1 : ''))

										div.row
											div.col-md-12
												br
												p#redemption_details-placeholder.placeholder-effect
												textarea#redemption_details.form-control(name='redemption_details', placeholder='Redemption Details', style='height: 180px;')= (drops.redemption_details ? drops.redemption_details : '')

										br

										if campaign.gftvendor==-1
											div.row
												div.col-md-12
													br
													p.placeholder-effect.active Codes
													div.gftnow-form
														div#checkboxBarcodes.gftnow-checkbox(class=(drops.barcodetype == 'Generated' ? 'active' : ''))
														label Generate Barcodes
													div.gftnow-form
														div#checkboxAddManually.gftnow-checkbox(class=(drops.barcodetype == 'Manually Added' ? 'active' : ''))
														label Add Manually
														div.gftnow-hide
															input#fileupload(type='file')

										br

										div.pull-left
											a.btn.btn-default.btn-nobg.gftnow-btn.gftnow-btn-success.gftnow-btn-nobg(href='new_campaign')
												i.fa.fa-chevron-left
												span &nbsp;&nbsp; BACK

										div.pull-right
											button#submit.btn.btn-default.gftnow-btn.gftnow-btn-default NEXT &nbsp;&nbsp;
												i.fa.fa-chevron-right

			include loader-and-modal