extends header

block content
	style(src='/custom/css/onboarding.css')

	div.container-full
		div.landing-nav-2
			center
				div.landing-nav-header(style='width:90%;')
					div.row
						div.col-md-6.col-sm-12.text-center.title-logo
							a(href='business')
								img(src='/img/logo.png')
								span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								h2 GiftDrop
						div.col-md-5.col-sm-12.text-center.gftnow-font-13(style='line-height:70px;')
							a(href='#') HOW IT WORKS
							span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							a(href='#')
								strong LIVE CHAT
								span &nbsp;&nbsp;&nbsp;&nbsp;
								img(src='/img/live-chat.png' width='15px')

		div.gftnow-bg-confirm
			div.mask

		div#confirm-panel.gftnow-panel(style='width:60%;')
			center
				img(src='/img/mini-confirm.png')
				br
				br
				br
				br
				br
				br
				br
				br
				br
				span You will receive a confirmation email for login to your Dashboard.
				br
				br
				br
				br
				br
				br
				br
		br
		br
		br
		br

		div#onboarding-footer.text-center.section.section-default.row
			div.col-md-4
			div.col-md-4
				center
					p.text-white 2017 Copyright All Rights Received
			div.col-md-4

	include loader-and-modal