extends header

block content
	style(src='/custom/css/onboarding.css')
	style.
		.cropper-view-box, .cropper-face, .cropper-line, .cropper-point {
			border-radius: 50% !important;
		}
	script(src='/custom/js/onboarding.js')

	div.container-full
		div.landing-nav-2
			center
				div.landing-nav-header(style='width:90%;')
					div.row
						div.col-md-6.col-sm-12.text-center.title-logo
							a(href='business')
								img(src='/img/logo.png')
								span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								h2 GiftDrop
						div.col-md-5.col-sm-12.text-center.gftnow-font-13(style='line-height:70px;')
							a(href='#') HOW IT WORKS
							span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							a(href='#')
								strong LIVE CHAT
								span &nbsp;&nbsp;&nbsp;&nbsp;
								img(src='/img/live-chat.png' width='15px')

		div.text-center.section.row
			div.col-md-12
				center We are so glad you are here! Our desire is to tell more people about how greate You are and to<br/>do that we would love to know a bit more about who you are and what you do.
				br
				h2.gftnow-title About Your Business
				br
				br

		div.col-md-12
			center
				div.row
					div.col-md-2
					div.col-md-3.gftnow-nopadding
						div.onboarding.onboarding-left.onboarding-0-left(style='height:750px;margin-top:0;')
							br
							br
							br
							br
							div.onboarding-content
								div.wizard
									div.numberCircle.active 1
									div.numberCircle 2
									div.numberCircle 3
								br
								br
								p
									center
										div.onboarding-icon
											img(src='/img/icon-house.png' style='width:80px;height:auto;')
								br
								br
								p
									center
										h3 Business Information
										span.gftnow-font-14 This information will remain
										br
										span.gftnow-font-14 confidential and will be used for
										br
										span.gftnow-font-14 internal contact use only.

					div.col-md-5.gftnow-nopadding
						div.onboarding.onboarding-right(style='margin-top:0;background:url(/img/left-shadow.png)left;background-repeat:repeat-y;background-color: #fff;')
							div.onboarding-content.row
								div.col-md-1
								div.col-md-10
									br
									br
									div.row
										div.col-md-5
											div.uploadLogo.gftnow-rounded.fileinput-button
												h4 Upload Logo
												form#uploadForm(method='post', enctype='multipart/form-data', action='upload')
													input#fileupload(type='file', name='filename')
										div.col-md-7.text-left.gftnow-nopadding.text-center
											br
											br
											span.small We recommend 300x300 px
											br
											span.small File size should be under 5mb
									form#form1(method='post')
										input#clogo.form-control(type='hidden', name='clogo')
										br
										br
										p#company-placeholder.placeholder-effect
										input#company.form-control(type='text', name='company', placeholder='Company Name')
										br
										br
										p#email-placeholder.placeholder-effect
										input#email.form-control(type='text', name='email', placeholder='Email')
										br
										br
										p#password-placeholder.placeholder-effect
										input#password.form-control(type='password', name='password', placeholder='Password')
										br
										br
										p#repassword-placeholder.placeholder-effect
										input#repassword.form-control(type='password', name='repassword', placeholder='Confirm Password')
										br
										br
										br
										br
										br
										br
										br
										div.text-right
											button#submit.btn.btn-default.gftnow-btn.gftnow-btn-default(type='submit') NEXT
												span &nbsp;&nbsp;
												i.fa.fa-chevron-right
								div.col-md-1
					div.col-md-1

				br
				br
				br
				br

			div#onboarding-footer.text-center.section.section-default.row
				div.col-md-4
				div.col-md-4
					center
						p.text-white 2017 Copyright All Rights Received
				div.col-md-4

	div#uploadModal.modal.fade(role='dialog')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal') &times;
					h4.modal-title Upload Logo
				div.modal-body
				div.modal-footer
					button#cropnow.btn.btn-default.gftnow-btn.gftnow-btn-default(type='button') Crop

	include loader-and-modal