extends header

block content
	style(src='/custom/css/onboarding.css')
	script(src='/custom/js/onboarding-1.js')

	div.container-full
		div.landing-nav-2
			center
				div.landing-nav-header(style='width:90%;')
					div.row
						div.col-md-6.col-sm-12.text-center.title-logo
							a(href='business')
								img(src='/img/logo.png')
								span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								h2 GiftDrop
						div.col-md-5.col-sm-12.text-center.gftnow-font-13(style='line-height:70px;')
							a(href='#') HOW IT WORKS
							span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							a(href='#')
								strong LIVE CHAT
								span &nbsp;&nbsp;&nbsp;&nbsp;
								img(src='/img/live-chat.png' width='15px')

		div.text-center.section.row
			div.col-md-12
				h2.gftnow-title About Your Business
				center Let's make it happen! What would you like to promote!
				br
				br
			div.col-md-12
				center
					div.row
						div.col-md-1
						div.col-md-3.gftnow-nopadding
							div.onboarding.oboarding-left.onboarding-0-left(style='height:1200px;margin-top:0;')
								br
								br
								br
								br
								br
								br
								br
								br
								div.onboarding-content
									div.wizard
										div.numberCircle.active 1
										div.numberCircle 2
										div.numberCircle 3
									br
									br
									center
										div.onboarding-icon
											img(src='/img/icon-house.png', style='width: 80px;height:auto;')
									br
									br
									p
										center
											h3 Business Information
											span.gftnow-font-14 This information will remain
											br
											span.gftnow-font-14 confidential and will be used for
											br
											span.gftnow-font-14 internal contact use only.
									br
									br
									br
						div.col-md-7.gftnow-no-padding
							div.onboarding.onboarding-right(style='height:1200px;margin-top:0;background:url(/img/left-shadow.png)left;background-repeat:repeat-y;background-color:#fff;')
								div.onboarding-content-row
									div.col-md-1
									div.col-md-10
										br
										br
										div.text-left
											p Most Popular
										div.row
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='b6dae6b7-d02a-458b-ad22-3b626ddd882d')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/food_and_drinks.png')
													div.label2
														h4 Food & Drinks
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='a02a6059-aaf4-4cc1-9494-a31a1715fbbd')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/automotive.png')
													div.label2
														h4 Automotive
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='61360c31-3cae-4f3d-b395-e0f9aa320d47')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/clothing.png')
													div.label2
														h4 Clothing
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='61360c31-3cae-4f3d-b395-e0f9aa320d47')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/electronics.png')
													div.label2
														h4 Electronics
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='280bc362-960b-4203-9f5e-a108d4b593d9')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/entertainment.png')
													div.label2
														h4 Entertainment
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='63452c3b-8145-447b-aa45-ef12479693c2')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/health_and_beauty.png')
													div.label2
														h4 Health & Beauty
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='06125b59-0b1c-4c75-9a05-ecd821a82940')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/home_improvements.png')
													div.label2
														h4 Home Improvements
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='8a8cf347-8fbe-4850-84dd-312c06ee5905')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/kids.png')
													div.label2
														h4 Kids
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='ba864d3b-d434-4fbc-b0aa-b09df2af1c35')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/pets.png')
													div.label2
														h4 Pets
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='8acf3596-eec1-4572-99d8-4e5463c3170b')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/sport_and_fitness.png')
													div.label2
														h4 Sports & Fitness
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='0360c1e1-008d-4480-9a96-b0a5c95d0339')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/travel.png')
													div.label2
														h4 Travel
											div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
												div.uploadLogo.uploadLogo2(data-value='f9003709-0cd9-4f5d-83af-77b690d83251')
													div.img
														img(src='http://gftnow.com/template/assets/img/categories/other.png')
													div.label2
														h4 Other

											//-pre #{listCategories}
											//- each category in categories.slice(1,9)
											//- 	div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
											//- 		div.uploadLogo.uploadLogo2(data-value=category.identifier)
											//- 			div.img
											//- 				img(src='http://'+category.pictureURL)
											//- 			div.label2
											//- 				h4= category.name
											//- each category in categories.slice(10,13)
											//- 	div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
											//- 		div.uploadLogo.uploadLogo2(data-value=category.identifier)
											//- 			div.img
											//- 				img(src='http://'+category.pictureURL)
											//- 			div.label2
											//- 				h4= category.name
											//- each category in categories.slice(9,-3)
											//- 	div.col-md-4.col-sm-6.col-xs-12(style='padding:5px;')
											//- 		div.uploadLogo.uploadLogo2(data-value=category.identifier)
											//- 			div.img
											//- 				img(src='http://'+category.pictureURL)
											//- 			div.label2
											//- 				h4= category.name
										br
										br
										div.pull-right
											form#form1(method='post', action='')
												input#businesscategory(type='hidden', name='businesscategory')
												button#submit.btn.btn-default.gftnow-btn.gftnow-btn-default NEXT
													span &nbsp;&nbsp;
													i.fa.fa-chevron-right
									div.col-md-1

		br
		br

		div#onboarding-footer.text-center.section.section-default.row
			div.col-md-4
			div.col-md-4
				center
					p.text-white 2017 Copyright All Rights Received
			div.col-md-4

		div#mask1.gftnow-mask
			div.gftnow-modal
				div.gftnow-modal-header.text-center
					b Logo
					br
					br
					p Move your image around to fit the orange box
				div.gftnow-moda-body
					img#croppie-crop-icon(src='/img/mini-croppie-icon.png')
					div#croppie
					br
					center
						button#croppie-done.gftnow-btn.gftnow-btn-success
					br

	include loader-and-modal