extends header

block content
	style(src='/custom/css/onboarding.css')
	script(src='/custom/js/onboarding-2.js')

	div.container-full
		div.landing-nav-2
			center
				div.landing-nav-header(style='width:90%;')
					div.row
						div.col-md-6.col-sm-12.text-center.title-logo
							a(href='business')
								img(src='/img/logo.png')
								span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								h2 GiftDrop
						div.col-md-5.col-sm-12.text-center.gftnow-font-13(style='line-height:70px;')
							a(href='#') HOW IT WORKS
							span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							a(href='#')
								strong LIVE CHAT
								span &nbsp;&nbsp;&nbsp;&nbsp;
								img(src='/img/live-chat.png' width='15px')

		div.text-center.section.row
			div.col-md-12
				center We are so glad you are here! Our desire is to tell more people about how greate You are and to<br/>do that we would love to know a bit more about who you are and what you do.
				br
				h2.gftnow-title Tell Us About Your Business
				br
				br
			div.col-md-12
				center
					div.row
						div.col-md-2
						div.col-md-3.gftnow-nopadding
							div.onboarding.onboarding-left.onboarding-1-left(style='height:900px;min-height:900px;margin-top:0px;background-color:#fff;')
								div.onboarding-content
									br
									div.wizard
										div.numberCircle 1
										div.numberCircle.active 2
										div.numberCircle 3
									center
										div.onboarding-icon
											img(src='/img/cart.png', style='width: 80px;height:auto;')
									p
										h3 More Information
										span.gftnow-font-14 The more people know about your
										br
										span.gftnow-font-14 business, the more confidant
									br
						div.col-md-5.gftnow-nopadding
							form#form1(method='post', action='')
								div.onboarding.onboarding-right(style='margin-top:0px;background: url(/img/left-shadow.png) left;background-repeat:repeat-y;height:900px;min-height:900px;background-color: #fff;')
									br
									br
									div.onboarding-content.row
										div.col-md-1
										div.col-md-10
											p#firstname-placeholder.placeholder-effect
											input#firstname.form-control(type='text', name='firstname', placeholder='First Name')
											br
											p#lastname-placeholder.placeholder-effect
											input#lastname.form-control(type='text', name='lastname', placeholder='Last Name')
											br
											p.gftnow-font-medium.pull-left(style='color:#000;') Business Address
											br
											br
											p#website-placeholder.placeholder-effect
											input#website.form-control(type='text', name='website', placeholder='Website')
											br
											p#phone-placeholder.placeholder-effect
											input#phone.form-control(type='text', name='phone', placeholder='Phone')
											br
											p#address-placeholder.placeholder-effect
											input#address.form-control(type='text', name='address', placeholder='Address')
											br
											div.row
												div.col-md-5.col-sm-12.col-xs-12.txt-rows
													p#city-placeholder.placeholder-effect
													input#city.form-control(type='text', name='city', placeholder='City')
												div.col-md-4.col-sm-12.col-xs-12.txt-rows
													p#zip-placeholder.placeholder-effect
													input#zip.form-control(type='text', name='zip', placeholder='Zip Code')
												div.col-md-3.col-sm-12.col-xs-12.txt-rows
													p#state-placeholder.placeholder-effect
													input#state.form-control(type='text', name='state', placeholder='State')
													img#state-loader.gftnow-hide(src='/img/ring-alt.svg', alt='Loading...', style='width:40px;height:40px;')
													em#state-invalid.invalid(style='display:none;') State Not Found
											br
											p#about-placeholder.placeholder-effect
											textarea#about.form-control(name='about', style='height:100px;', placeholder='About Your Business')
											br

											div.row.gftnow-no-padding
												div.col-md-1
													div.gftnow-form
														div.gftnow-checkbox
												div.col-md-11
													p.gftnow-font-light(style='text-align:left;')
														span You have read and agree to 
														b GiftDrop Policy
														span , which provides that PayPal is an online sevice 
														span and that you will receive all account notices and information electronically via your primary 
														span email address. You have also read and agree to the 
														b User Agreement 
														span and 
														b Privacy Policy
														span .
											br

											div.row
												div.col-md-12
													button#submit.btn.btn-default.gftnow-btn.gftnow-btn-default(type='submit', style='width:100%;') AGREE AND CREATE ACCOUNT
										div.col-md-1
						div.col-md-5
				br
				br
				br
				br
				div.text-center.section.section-default.row
					div.col-md-4
					div.col-md-4
						center
							p.text-white 2017 Copyright All Rights Reserved
					div.col-md-4

	include loader-and-modal