extends header

block content
	script(src='/custom/js/profile.js')

	aside#left-panel
		div.login-info
			span
				img(src='/img/logo.png')
				span#gftnowtitle GiftDrop
		include menu

	div#main(role='main')
		div#ribbon(style='background-color:#ffffff;')
			div.pull-left
				span.minifyme.minify2
					i.fa.fa-angle-right.hit
			div.pull-right.notif
				ul
					li
						img(style='height:25px;width:25px;', src='/img/man.png')
					li#notif-bell
						img(src='/img/bell.png')
						b.badge 1
					li#logout(style='display:none;')
						i.fa.fa-sign-out.icon-gray(style='font-size:22px;')

		div#content(style='background-color:#ffffff;')
			br
			br
			br
			br
			div.row
				div#title.col-xs-12.col-sm-12.col-md-6.col-lg-6
					div.profile-img-container.fileinput-button
						img#profilepic(src=logoURL, alt='no profile')
						a(href='javascript:void(0);')
							form#uploadForm(method='post', enctype='multipart/form-data', action='upload')
								input#fileupload(type='file', name='filename')
							img(src='/img/icon_camera.png', style='width:36px;height:auto;margin-top: 25px;')
					div.profile-title
						h1.gftnow-font-medium
							span.custom-title= name
						
				div#right-of-title.col-xs-12.col-sm-12.col-md-6.col-lg-6

			div.container
				div.row
					div.col-md-12
						
						//- Content
						input#identifier(type='hidden', value=identifier)
						input#name(type='hidden', value=name)
						input#acct_identifier(type='hidden', value=acct_identifier)
						input#acct_created(type='hidden', value=acct_created)
						input#notes(type='hidden', value=notes)
						input#logoURL(type='hidden', value=logoURL)
						input#acct_state(type='hidden', value=acct_state)
						input#title(type='hidden', value=title)
						input#about(type='hidden', value=about)
						input#website(type='hidden', value=website)
						input#created(type='hidden', value=created)
						input#activated(type='hidden', value=activated)
						input#phone(type='hidden', value=phone)
						input#state(type='hidden', value=state)
						input#address(type='hidden', value=address)
						input#category(type='hidden', value=category)

						div#mask1.gftnow-mask
							div.gftnow-modal
								div.gftnow-modal-header.text-center
									b Logo
									br
									br
									p Move your image around to fit the orange box
								div.gftnow-modal-body
									img#croppie-crop-icon(src='/img/mini-croppie-icon.png')
									div#croppie
									br
									center
										img#img-loader.gftnow-hide(src='/img/ring-alt.svg', alt='Loading...', style='width:40px;height:40px;')
										button#croppie-done.gftnow-btn.gftnow-btn-success Done
									br

						div#choose-category-div.gftnow-mask.gftnow-scrollbar(style='overflow-y:auto;')
							div.gftnow-panel(style='position:absolute;z-index:999;min-width:1000px;width: 1000px;border-radius:15px;top:15px;left:0;right:0;margin:0 auto;')
								center
									br
									p.gftnow-font-18 Choose Your Business Category
									br
									div.onboarding(style='height:400px;min-height:400px;box-shadow:none;')
										input#current-category(type='hidden', value=category)
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='b6dae6b7-d02a-458b-ad22-3b626ddd882d')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/food_and_drinks.png')
												div.label2
													h4 Food & Drinks
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='a02a6059-aaf4-4cc1-9494-a31a1715fbbd')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/automotive.png')
												div.label2
													h4 Automotive
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='61360c31-3cae-4f3d-b395-e0f9aa320d47')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/clothing.png')
												div.label2
													h4 Clothing
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='61360c31-3cae-4f3d-b395-e0f9aa320d47')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/electronics.png')
												div.label2
													h4 Electronics
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='280bc362-960b-4203-9f5e-a108d4b593d9')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/entertainment.png')
												div.label2
													h4 Entertainment
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='63452c3b-8145-447b-aa45-ef12479693c2')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/health_and_beauty.png')
												div.label2
													h4 Health & Beauty
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='06125b59-0b1c-4c75-9a05-ecd821a82940')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/home_improvements.png')
												div.label2
													h4 Home Improvements
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='8a8cf347-8fbe-4850-84dd-312c06ee5905')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/kids.png')
												div.label2
													h4 Kids
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='ba864d3b-d434-4fbc-b0aa-b09df2af1c35')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/pets.png')
												div.label2
													h4 Pets
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='8acf3596-eec1-4572-99d8-4e5463c3170b')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/sport_and_fitness.png')
												div.label2
													h4 Sports & Fitness
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='0360c1e1-008d-4480-9a96-b0a5c95d0339')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/travel.png')
												div.label2
													h4 Travel
										div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
											div.category.uploadLogo.uploadLogo2(data-value='f9003709-0cd9-4f5d-83af-77b690d83251')
												div.img
													img(src='http://gftnow.com/template/assets/img/categories/other.png')
												div.label2
													h4 Other
										
										//- each categories in JSON.parse(pc).productCategories.slice(1,9)
										//- 	- var a = (categories.identifier === category ? 'active' : '')
										//- 	div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
										//- 		div.uploadLogo.uploadLogo2(class=a, data-value=categories.identifier)
										//- 			div.img
										//- 				img(src='http://'+categories.pictureURL)
										//- 			div.label2
										//- 				h4= categories.name
										//- each categories in JSON.parse(pc).productCategories.slice(10,13)
										//- 	- var a = (categories.identifier === category ? 'active' : '')
										//- 	div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
										//- 		div.uploadLogo.uploadLogo2(class=a, data-value=categories.identifier)
										//- 			div.img
										//- 				img(src='http://'+categories.pictureURL)
										//- 			div.label2
										//- 				h4= categories.name
										//- each categories in JSON.parse(pc).productCategories.slice(9,-3)
										//- 	- var a = (categories.identifier === category ? 'active' : '')
										//- 	div.col-md-3.col-sm-6.col-xs-12(style='padding:5px;')
										//- 		div.uploadLogo.uploadLogo2(class=a, data-value=categories.identifier)
										//- 			div.img
										//- 				img(src='http://'+categories.pictureURL)
										//- 			div.label2
										//- 				h4= categories.name

										div.col-md-12(style='padding:5px;')
											br
											br
											button#choose-category-backBtn.btn.btn-default.btn-nobg.gftnow-btn.gftnow-btn-success.gftnow-btn-nobg.pull-left(style='margin-top:15px;', type='button') &nbsp;&nbsp;Back&nbsp;&nbsp;
											button#choose-category-chooseBtn.btn.btn-default.btn-nobg.gftnow-btn.gftnow-btn-success.gftnow-btn-nobg.pull-right(style='margin-top:15px;', type='button') &nbsp;&nbsp;Choose&nbsp;&nbsp;
											br
											br

						div.row(style='margin-top:30px;')
							form.form-inline
							div.col-md-12(style='margin-bottom:30px;')
								h5 Category
								case category
									when "ce1c6afa-1b25-4e1d-b2a5-adcfb5fbcdeb"
										span.content-info(data-id='1', data-value='') Cash
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "b6dae6b7-d02a-458b-ad22-3b626ddd882d"
										span.content-info(data-id='1', data-value='') Food & Drinks
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "a02a6059-aaf4-4cc1-9494-a31a1715fbbd"
										span.content-info(data-id='1', data-value='') Automotive
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "61360c31-3cae-4f3d-b395-e0f9aa320d47"
										span.content-info(data-id='1', data-value='') Clothing
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "831bd6c2-73c7-4502-a0c5-629b7a0331c6"
										span.content-info(data-id='1', data-value='') Electronics
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "280bc362-960b-4203-9f5e-a108d4b593d9"
										span.content-info(data-id='1', data-value='') Entertainment
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "63452c3b-8145-447b-aa45-ef12479693c2"
										span.content-info(data-id='1', data-value='') Health & Beauty
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "06125b59-0b1c-4c75-9a05-ecd821a82940"
										span.content-info(data-id='1', data-value='') Home Improvements
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "8a8cf347-8fbe-4850-84dd-312c06ee5905"
										span.content-info(data-id='1', data-value='') Kids
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "f9003709-0cd9-4f5d-83af-77b690d83251"
										span.content-info(data-id='1', data-value='') Other
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "ba864d3b-d434-4fbc-b0aa-b09df2af1c35"
										span.content-info(data-id='1', data-value='') Pets
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "8acf3596-eec1-4572-99d8-4e5463c3170b"
										span.content-info(data-id='1', data-value='') Sport & Fitness
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
									when "0360c1e1-008d-4480-9a96-b0a5c95d0339"
										span.content-info(data-id='1', data-value='') Travel
											a(href='javascript:void(0);', data-id='1', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
													
								img.loader(data-id='1', src='/img/ring-alt.svg', alt='Loading...', style='width:40px;height:40px;display:none;')
							div.col-md-12(style='margin-bottom:30px;')
								div.row
									div.col-md-6
										h5 Phone
										span.content-info(data-id='2', data-val=phone, data-value='')= phone
											a(href='javascript:void(0);', data-id='2', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
										img.loader(data-id='2', src='/img/ring-alt.svg', alt='Loading...', style='width:40px;height:40px;display:none;')
										input.form-control.content-info-edit(type='text', data-id='2', style='display:none;width:200px;', name='notes')
										a.save-btn(href='javascript:void(0);', data-id='2', style='display:none;')
											i.fa.fa-check-circle.fa-lg.text-success
										a.close-btn(href='javascript:void(0);', data-id='2', style='display:none;')
											i.fa.fa-times-circle.fa-lg.text-danger
									div.col-md-6
										h5 Email
										span.content-info= email
							div.col-md-12(style='margin-bottom:30px;')
								div.row
									div.col-md-6
										h5 Website
										span.content-info(data-id='3', data-val=website, data-value='')= website
											a(href='javascript:void(0);', data-id='3', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
										img.loader(data-id='3', src='/img/ring-alt.svg', alt='Loading...', style='width:40px;height:40px;display:none;')
										input.form-control.content-info-edit(type='text', data-id='3', style='display:none;width:200px;', name='website')
										a.save-btn(href='javascript:void(0);', data-id='3', style='display:none;')
											i.fa.fa-check-circle.fa-lg.text-success
										a.close-btn(href='javascript:void(0);', data-id='3', style='display:none;')
											i.fa.fa-times-circle.fa-lg.text-danger
									div.col-md-6
										h5 Address
										span.content-info(data-id='4', data-val=address, data-value='')= address
											a(href='javascript:void(0);', data-id='4', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
										img.loader(data-id='4', src='/img/ring-alt.svg', alt='Loading...', style='width:40px;height:40px;display:none;')
										input.form-control.content-info-edit(type='text', data-id='4', style='display:none;width:200px;', name='address')
										a.save-btn(href='javascript:void(0);', data-id='4', style='display:none;')
											i.fa.fa-check-circle.fa-lg.text-success
										a.close-btn(href='javascript:void(0);', data-id='4', style='display:none;')
											i.fa.fa-times-circle.fa-lg.text-danger
							div.col-md-12(style='margin-bottom:30px;')
								div.row
									div.col-md-6
										h5 About Business
										span.content-info(data-id='5', data-val=about, data-value='')= about
											a(href='javascript:void(0);', data-id='5', style='display:none;') &nbsp;
												i.fa.fa-pencil.text-success
										img.loader(data-id='5', src='/img/ring-alt.svg', alt='Loading...', style='width:40px;height:40px;display:none;')
										input.form-control.content-info-edit(type='text', data-id='5', style='display:none;width:200px;', name='about')
										a.save-btn(href='javascript:void(0);', data-id='5', style='display:none;')
											i.fa.fa-check-circle.fa-lg.text-success
										a.close-btn(href='javascript:void(0);', data-id='5', style='display:none;')
											i.fa.fa-times-circle.fa-lg.text-danger

	div#uploadModal.modal.fade(role='dialog')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal') &times;
					h4.modal-title Upload Logo
				div.modal-body
					div.img-container(style='width:100%;')
				div.modal-footer
					button#cropnow.btn.btn-default.gftnow-btn.gftnow-btn-success(type='button') Crop											

	include loader-and-modal
