extends restricted-header

block content
	div(style='display:none;position:absolute;color:#fff;bottom: 10px;right: 40px;z-index:999;')
		span Photo by 
			span(id='by') Neal Grosskopt

	div.container-full(style='background-color:#000;')
		span.mask(style='top:0;position:absolute;left:0;right:400px;margin:0;')
			br
			div.landing-nav
				div.landing-nav-header
					div.row
						divcol-md-5.col-sm-12.text-center
						divcol-md-2.col-sm-12.text-center
						divcol-md-5.col-sm-12.text-center
			div.section
				center
					div.gftnow-signbox(style='display:inline;')
						form#loginform(method='post')
							input(type='hidden', name='key', value='')
							div.form-group
								input#password.form-control(type='password', name='password', placeholder='Password')
							br
							div.form-group
								a#submit.bttn-rounded(href='javascript:void(0);', type='submit') Sign In
							div#errorCode(style='padding:5px;display:none;')
								div.alert.alert-danger
							br

							include loader-and-modal	