doctype html
html
	head
		title GiftDrop
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/smartadmin-production_unminified.css')
		link(rel='stylesheet', href='/css/smartadmin-skins.css')
		link(rel='stylesheet', href='/css/gftnow.css')
		link(rel='stylesheet', href='/css/fancymoves.css')
		link(rel='stylesheet', href='/css/jquery.fancybox-1.3.4.css')
		link(rel='stylesheet', href='/css/demo.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
		link(rel='stylesheet', href='/js/plugin/bootstrap-select-1.12.2/dist/css/bootstrap-select.min.css')
		link(rel='stylesheet', href='/css/movingboxes.css')
		link(rel='stylesheet', href='/custom/css/index.css')

		script(src='/js/jquery-3.2.0.min.js')
		script(src='/js/bootstrap/bootstrap.min.js')
		script(src='/js/notification/SmartNotification.min.js')
		script(src='/js/smartwidgets/jarvis.widget.min.js')
		script(src='/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js')
		script(src='/js/plugin/sparkline/jquery.sparkline.min.js')
		script(src='/js/plugin/jquery-validate/jquery.validate.min.js')
		script(src='/js/plugin/masked-input/jquery.maskedinput.min.js')
		script(src='/js/plugin/select2/select2.min.js')
		script(src='/js/plugin/bootstrap-slider/bootstrap-slider.min.js')
		script(src='/js/plugin/msie-fix/jquery.mb.browser.min.js')
		script(src='/js/plugin/fastclick/fastclick.js')
		script(src='/js/demo.js')
		script(src='/MovingBoxes-master/js/jquery.movingboxes.js')
		script(src='/js/app.js')
		script(src='/js/plugin/flot/jquery.flot.cust.js')
		script(src='/js/plugin/flot/jquery.flot.resize.js')
		script(src='/js/plugin/flot/jquery.flot.tooltip.js')
		script(src='/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js')
		script(src='/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js')
		script(src='/js/plugin/morris/raphael.2.1.0.min.js')
		script(src='/js/plugin/morris/morris.min.js')
		script(src='/js/plugin/Chart.js-2.5.0/dist/Chart.min.js')
		script(src='/js/plugin/bootstrap-select-1.12.2/dist/js/bootstrap-select.min.js')
		script(src='/js/plugin/bootstrap-slider/bootstrap-slider.min.js')
		script(src='/js/jsbarcode.min.js')
		script(src='/Croppie-2.4.1/croppie.min.js')
		script(src='/jQuery-File-Upload-9.18.0/js/vendor/jquery.ui.widget.js')
		script(src='/jQuery-File-Upload-9.18.0/js/jquery.fileupload.js')
		script(src='/js/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js')
		script(src='https://www.gstatic.com/firebasejs/3.9.0/firebase.js')
		script(src='/js/jquery.maskedinput.js')
		script(src='https://js.braintreegateway.com/web/dropin/1.3.0/js/dropin.min.js')
		script(src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=lmlmlmyxrv9fsuuvdjnj9q484q56x2a4eqm8ouemwibmin3p')
		script(src='https://js.stripe.com/v3/')
		script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBNzVQeL9Qr7XHwGGtDSbT_slP5FGcKGmc&libraries=places')
		script(src='/typeahead-addresspicker-master/typeahead.bundle.min.js')
		script(src='/typeahead-addresspicker-master/typeahead-addresspicker.min.js')
		script(src='/js/bootstrap-timepicker/js/bootstrap-timepicker.js')
		script(src='/js/gftnow.js')
		script(src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.js')
		script(src='/particles/particles.js')
		script(src='/particles/demo/js/app.js')
		script(src='/custom/js/header.js')
		script(src='/custom/js/restricted.js')
	body
		block content