
@font-face {
    font-family: GothamRndBold;
    src: url(../fonts/GothamRnd-Bold.otf);
}

@font-face {
    font-family: GothamRndLight;
    src: url(../fonts/GothamRnd-Light.otf);
}

@font-face {
    font-family: GothamRndMedium;
    src: url(../fonts/GothamRnd-Medium.otf);
}

@font-face {
    font-family: GothamRndRegular;
    src: url(../fonts/GothamRnd-Book.otf);
}

.gftnow-font-light{
	font-family: GothamRndLight;
}

.gftnow-font-regular{
	font-family: GothamRndRegular;
}

.gftnow-font-medium{
	font-family: GothamRndMedium;
}

.gftnow-font-bold{
	font-family: GothamRndBold;
}



body{
	font-family: GothamRndRegular;
	font-size: 16px;
	color: #514F4F;
	

}

b,strong{
	font-family: GothamRndMedium;
}

h1{
	font-family: GothamRndMedium;
	font-size: 32px;
}

.title-logo h2{
	/*font-size: 20px;*/
	font-family: GothamRndRegular;
}

h2.gftnow-title{
	font-size: 28px;
	font-family: GothamRndRegular;
	color: #514F4F;
	margin: 10px;
}

h3{
	font-family: GothamRndMedium;
}

span{
	font-family: GothamRndRegular;
}

#content{
	padding: 3%;
	padding-top: 3%;
	background-color: #f4f5f8;
}
#left-panel{
	top:0;
	display: block;
	overflow: hidden;
	background-color: #f4f5f8;
	position: fixed;
}

span.small{
	font-size: 12px;
	font-family: GothamRndRegular;
	color: #D3D2D2;
}

/*New CSS onboarding*/
			.onboarding-container{
				height: 1100px;
				min-height: 100%;
				
				border-right: 1px solid #D3D2D2;
				display: flex;
				overflow: hidden;
			}

			.onboarding-left-panel{
				background-color: #F4F5F8;
				padding:0px;
				height: 100%;
				min-height: 100%;
				display: inline-block;
				align-items: stretch;
				border-right: 1px solid #D3D2D2;
				width: 23%;
				z-index: 100;
			}

			.onboarding-right-panel{
				padding-top: 5%;
				background-color: #ffffff;
				padding-bottom: 0%;
				width: 77%;
				z-index: 99;
			}
			.onboarding-nav-container{
				
				height:100%;
			
			}
			#onboarding-nav{
				margin-top: 60% !important;
			}
			#onboarding-nav ul li{
				padding-left:  0px !important;
				background-color: #ffffff;
				margin-bottom: 5px;
				margin-right: 5px;
				outline:5px solid #F4F5F8;
				/*position: relative;*/

			}

			#onboarding-nav ul li:hover .numberCircle, #onboarding-nav ul li .numberCircle.active {border-radius: 50%;behavior: url(PIE.htc); 
			    width: 30px;height: 30px;padding: 7px;border: 2px solid #E3B338;color: #E3B338;
			    text-align: center;font: .8em Arial, sans-serif;margin-left: 10px;margin-right: 10px;
			}

			nav ul li{
				position: relative;
			}

			nav ul li.active span{
				font-weight: bold !important;
				font-family: GothamRndBold;
			}


			#onboarding-nav ul li:hover img, nav ul li:hover img.hovered
			{
				display: initial;
			}
			#onboarding-nav ul li img, nav ul li img.hovered{
				position: absolute;
				right: -16px;
				z-index: 9999;
				height: 48px;
				display: none;
				margin-top: -49px;
			}

			#onboarding-nav ul li a{
				padding-top: 10px;
				padding-bottom: 10px;
				font-family: GothamRndMedium;
				font-size: 16px;
				color: #514F4F;
			}

			#onboarding-nav ul li a .numberCircle{
				display: inline-block;
			}

			#onboarding-nav ul li a .numberCircle:hover{
				border-right: 2px solid #fdd05e;
			}

			.onboarding-text{
				    width: 58%;
				font-size: 1.2em;
			}
			.onboarding{
				border-radius: 0px;
				padding: 25px;
			    height: 800px;
			    min-height: 800px;
			    -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.1);
				-moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.1);
				box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.1);
			    margin-top: 20px;
			    background: #fff;
			}
			.onboarding-left{
				border-radius: 15px 0px 0px 15px !important;
				box-shadow: -1px 0px 30px 1px rgba(0,0,0,0.03);
				/*border-top-left-radius: 15px !important;
				border-bottom-left-radius: 15px !important;*/
			}
			.onboarding-right{
				border-radius: 0px 15px 15px 0px !important;
				box-shadow: 1px 0px 30px 1px rgba(0,0,0,0.03);
				/*border-top-right-radius: 15px !important;
				border-bottom-right-radius: 15px !important;*/				
			}
			.onboarding p{
				color: #D3D2D2;
				font-size: 14px;
				font-family: GothamRndRegular;
			}

			
			.onboarding ::-webkit-input-placeholder {
			   text-align: left;
			   color: #D3D2D2;
			   font-family: GothamRndLight;
			   
			}

			.onboarding :-moz-placeholder { /* Firefox 18- */
			   text-align: left;  
			   color: #D3D2D2;
			   font-family: GothamRndLight !important;
			}

			.onboarding ::-moz-placeholder {  /* Firefox 19+ */
			   text-align: left;  
			   color: #D3D2D2;
			   font-family: GothamRndLight !important;
			}

			.onboarding :-ms-input-placeholder {  
			   text-align: left; 
			   color: #D3D2D2;
			   font-family: GothamRndLight !important;
			}

			.onboarding-content{
				margin-top: 30px !important;
				margin-bottom: 30px !important;
			}
			.onboarding-content .wizard{
				display: inline-flex;
				margin-top: 50px;
			}
			.onboarding-icon{ margin-top:50px; }
			.numberCircle {border-radius: 50%;behavior: url(PIE.htc); 
			    width: 27px;height: 27px;padding: 7px;border: none;color: #E3B338;
			    text-align: center;font: .8em Arial, sans-serif;margin-left: 10px;margin-right: 10px;font-weight: bold;
			}
			.numberCircle.active{border-radius: 50%;behavior: url(PIE.htc); 
			    width: 30px;height: 30px;padding: 7px;border: 2px solid #E3B338;color: #E3B338;
			    text-align: center;font: .8em Arial, sans-serif;margin-left: 10px;margin-right: 10px;
			}
			.onboarding-content select, .onboarding-content input, .onboarding-content textarea{
				border-radius: 5px !important;
				background: #f7f7f7;
				font-weight: bold;
			}
			.uploadLogo{ float:left;width: 70%; border:solid 1px #c0c0c0; padding:10px;background: #f7f7f7;border-radius: 5px;font-size: .8em;color: #c0c0c0; }
			.uploadLogo h4{ color: #19A1FC !important; cursor:pointer;font-size: 1.2em; font-family: GothamRndMedium;}
			.good-to-go{     margin-top: 120px;margin-bottom: 90px; }
			@media (max-width: 1200px){
				.numberCircle{ margin-left: 10px; }
			}
			@media (max-width: 1000px){
				.numberCircle{ margin-left: 10px; }
				.onboarding-content .wizard{ float: none; }
				.onboarding-icon{ margin-top:30px; }
			}
			@media (max-width: 990px){
				.onboarding{
					width: 100%;
				}
			}


			.onboarding .uploadLogo2{
				width: 100%;
				min-height: 200px;
				height: 200px;	
				position: relative;
				cursor: pointer;
			}

			.onboarding .uploadLogo2 div.img{
				position: absolute;
				top:0;
    			bottom: 0;
    			left: 0;
    			right: 0;
    			margin: auto auto;
    			height: 112px;
    			text-align: center;
			}

			.onboarding .uploadLogo2 div.label2{
				/*position: absolute;*/
    			bottom: 20px;
    			left: 0;
    			right: 0;
    			margin: 0 auto;
    			text-align: center;
    			font-family: GothamRndMedium;
			}

			.onboarding .uploadLogo2 div.pointer{
				display: none;
				position: absolute;
    			/*bottom: 20px;
    			right: -30px;*/
    			bottom: -40px;
    			right: -100px;
    			z-index: 99;
    			opacity: 0;
    			 -webkit-transition: bottom 0.5s, right 0.5s, opacity 0.5s ; /* Safari */
    			transition: bottom 0.5s, right 0.5s, opacity 0.5s;
    			
			}

			.uploadLogo2{
				background-color: #F4F5F8;
				-webkit-transition: background-color 0.5s;
    			transition: background-color 0.5s;
			}
			.uploadLogo2:hover{
				background-color: #D3D2D2;
				border: 6px solid #8BC24A;
			}

			.uploadLogo2.active{
				border: 6px solid #8BC24A;
			}

			.uploadLogo2:hover > div.pointer{
				bottom: 10px;
    			right: -35px;
    			opacity: 1;
			}

			.onboarding .uploadLogo2 h4{
				font-weight: bold;
				font-family: GothamRndRegular;
			}

.demo{
	display: none;
}

.login-info{
	background-color: #8bc24a;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0px;
	font-family: GothamRndLight;
}

.login-info > span{
	border: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	font-size: 16px;
}

.login-info img{
	border-left: 0px;
}

nav{
	background-color: #f4f5f8;
	margin-top: 25px;
}

nav ul li{
	padding-left: 15px;
	font-family: GothamRndMedium;
}

.minified nav ul li{
	padding-left: 0px;
}

nav ul li img{
	padding-right: 10px;
}

nav ul li a{
	color:#413f3f;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: GothamRndMedium;
}

nav ul .active > a, nav ul li a:hover{
	color:#413f3f !important;
	font-weight: bold;
}

nav ul .active:hover,nav ul li:hover{
	/*border-right: 10px solid #fdd05e;*/
}

.minified nav ul span.menu-item-parent{
	visibility: hidden;
}

nav ul li a:active{
	background-color: #f4f5f8 !important;
}

nav.nav-bottom{
	bottom: 25px;
	position: fixed;
	font-family: GothamRndLight;
	width: 221px;
}

.minified .nav-bottom{
	width: 45px;
}

nav.nav-bottom ul li a{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

nav.nav-bottom ul li a:hover{
	color:#413f3f !important;
	font-weight: bold;
}

#ribbon{
	background-color: #f4f5f8;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 60px;
	position: fixed;
	width: 100%;
	right: 0px;
	top:0px;
	z-index: 100;
	height: 39px;
}

#main{
	background-color: #ffffff;
}

.minifyme, .minifyme:hover{
	background-color: #8bc24a;
	border: 0px;
}

.minifyme i{
	color: #ffffff;
}

.minified .login-info #gftnowtitle{
	display: none;
}

#gftnowtitle{
	font-family: GothamRndMedium;
}


.notif{
	height: 50px;
	line-height: 45px;
	margin-right: 35px;
}

.hide-menu{
	height: 50px;
	line-height: 45px;
	text-align: left;
}

.notif li{
	margin-left: 10px;
	margin-right: 10px;
	color: #514F4F;
}
.notif li, .hide-menu li{
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.notif li .badge{
	margin-top: 5px;
	margin-left: -15px;
	z-index: 998;
	background-color:#55AAFF;
	position: relative;
}


#content{
	height: auto;
	background-color: #f4f5f8;
}

.balloon-container{
	position: absolute;
	right: 20px;
	top: 40px;
	z-index: 99990;
	min-width: 250px;
	width: 30%;
	display: none;

}

.balloon-container .pointer{
	position: absolute;
	right: 10px;
	z-index: 99992;
	top:0px;
}

.balloon-container .balloon{
	position: absolute;
	background-color: #f6f7fa;
	border: 2px solid #d3d2d2;
	width: 100%;
	padding: 10px;
	padding-top: 0px;
	border-radius: 5px;
	min-height: 100px;
	height: auto;
	max-height: 500px;
	z-index: 99991;
	margin-top: 23px;
	overflow: hidden;
	overflow-y: auto;
}

.balloon-container .balloon .row{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
} 

.balloon-container .balloon .row:hover{
	background-color: #d3d2d2;
}

.hide-menu{
	display: none;
}

.hide-menu ul{
	padding-left: 10px;
}

@media (max-width: 960px) {
	.hide-menu{
		display: initial;
	}

	.minify2{
		left: 0px !important;
	}
}

.chart{
	width: 100%;
}

.container{
	width: 100%;
}

.highlight{
	background-color: #f5f5f5;
	padding: 10px;
}

.selected{
	border: 0px !important;
}


.highlight h3{
	margin: 10px;
}

.balloon-container1{
	position: absolute;
	left: 50px;
	top: -45px;
	bottom: 30px;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	z-index: 99990;
	min-width: 150px;
	height: 70px;
	width: 20%;
	display: none;
	border: 1px solid #d3d2d2;
	background-color: #f6f7fa;
	background: #f6f7fa;
	border-radius: 5px;
	-webkit-box-shadow:0px 1px 1px #fcfcfc;
 	-moz-box-shadow:0px 1px 1px #fcfcfc;
 	box-shadow:0px 1px 1px #fcfcfc;
}

.balloon-container1 .pointer{
	position: absolute;
	right: 10px;
	z-index: 99992;
	top:0px;
}

.balloon-container1 .balloon{
	position: absolute;
	background-color: #f6f7fa;
	border: 2px solid #d3d2d2;
	width: 100%;
	padding: 10px;
	padding-top: 0px;
	border-radius: 5px;
	min-height: 100px;
	height: auto;
	max-height: 500px;
	z-index: 99991;
	margin-top: 23px;
	overflow: hidden;
	overflow-y: auto;
}

.balloon-container1 a{
	text-decoration: none;
}

.balloon-container1 .balloon1 .row{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	text-align: center;
} 

.balloon-container1 .balloon1 .row:hover{
	background-color: #f6f7fa;
}

.balloon-container1:after, .balloon-container1:before {
	top: 100%;
	left: 26%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.balloon-container1:after {
	border-color: rgba(246, 247, 250, 0);
	border-top-color: #f6f7fa;
	border-width: 6px;
	margin-left: -5px;
}
.balloon-container1:before {
	border-color: rgba(211, 210, 210, 0);
	border-top-color: #d3d2d2;
	border-width: 8px;
	margin-left: -8px;
}

.overview-title{
	margin-bottom:5px;
	font-size: 1.1em;
}
.overview-desc{
	margin-top:0px;
	font-weight: 400;
}
.ative-right-select{
	border-radius: 10px;
	padding:1px;
}
.active-right-search{
	margin-top: 30px;
}
.active-right-search select{
	margin-left: 20px;
}
.active-right-search i{
	border-radius: 10px;
	border: 1px solid #636060;
	padding:2px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

.how-container{
	display: inline-block;
	-webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
	padding: 10px;
	border-radius: 15px;
}

#slider {
	background-color: none !important;
	background: url(../img/mybg.png) #ffffff;
}

.mb-wrapper {
	
}

/* panel images */
.mb-inside img {
  margin: 10px !important;
}

#slider-one{
	background-color: #F4F5F8;
}
#slider-one p, #slider-two p, #slider-three p, #slider-four p, #slider-five p {
	font-size: 11px;
	color: #ccc; 
	text-transform:uppercase; 
	position:relative; 
	top:-2.8em; 
	text-align:center; 
	font-weight:bold; 
	font-family:Arial, Helvetica, sans-serif; 
	text-shadow: 0px 0px 2px #000
}
	
.mb-inside a, .mb-inside a:visited {
	color:#0CF; 
	text-decoration:none; 
	font-size:13px; 
}

.mb-inside a:hover {
	color:#fff; 
	text-decoration:none; 
	font-size:13px; 
	cursor:pointer
}

.mb-controls {
	background: url(../img/mybg.png) #ffffff;
}

/* DEMO STYLES - delete these */
.info {width:800px; margin:0 auto; color:#666; margin-top:50px; text-align:center; font-size:12px; padding-bottom:25px;}
.info a:link, .info a:visited {color:#ccc}
.info a:hover, .info a:active {color:#fff}


.active-name{
	text-align: center;
	margin: 20px 0;
}
.active-name p, i{
	font-size: 1.3em;
}
.active-main-panel{
	margin-top: 70px;
	background-color:#FFFFFF;
	border-radius:20px;
	padding:15px;	
}


/*Buttons*/
.gft-btn{
	border-radius: 20px;
	padding:5px;
	padding-left: 35px;
	padding-right: 35px;
	color: #fff;
	display: inline-block;
	border: 0px;
}
.gft-btn:hover{
	color: #679F37;
}
.gft-btn.gft-btn-default{
	background: #D3D2D2;
	color: #ffffff;
}
.gft-btn.gft-btn-warning{
	background: #E3B338;
	color: #ffffff;
}

.gft-btn.gft-btn-warning:hover{
	background: #FDD05E;
}

.gft-btn.gft-btn-success{
	
	background: #8BC24A;
	color: #ffffff;
}

.gft-btn.gft-btn-nobg {
    background: #fff;
    color: #679f37;
    border: 1px solid #679f37;
}

.gft-btn.gft-btn-success:hover{
	background: #679F37;
}

.gft-btn.gft-btn-danger{
	background: #c24a4a;
	color: #ffffff;
}
.gft-btn.gft-btn-info{
	background: #97b2ff;
	color: #ffffff;
}
.gft-btn.gft-btn-primary{
	background: #4a69c2;
	color: #ffffff;
}
/*Buttons*/


/*Modal*/

.gftnow-modal .modal-content{
	margin-top: 100px;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #fff;
    border: none;
    margin-bottom: 40px;
}
.gftnow-modal.fade.in{
	background: rgba(255, 255, 255, 0);
}

.gftnow-modal.fade{
	background-color: none;
}
.gftnow-modal .modal-header{
	border: 0px;
}
.gftnow-modal .modal-body .title{
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
}
.gftnow-modal .modal-body p{
	padding: 40px;
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	margin-top: 20px;
}
.gftnow-modal .modal-footer{
	border: 0px;
	height: 100px;
}

/*Modal*/

.active-profile-active{
	margin: 40px;
}
.active-list{
	background: #f4f5f8;
	margin: 10px;
	margin-bottom: 5px;
	padding: 20px 20px 20px 0px;
}

.active-list a{
	color: #535556;
}

.active-list a:active, .active-list a:hover{
	color: #fdd05e;
}

.active-list-title{
	text-align: left;
	margin: 10px;
	margin-bottom: 5px;
	padding: 20px 20px 0px 0px;
}
.active-list p{
	font-weight: 100;
	margin-top: 10px;
	text-align: left;
}
.gftnow-pagination>li>a{
	position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #535556;
    background-color: #ffffff;
}
.gftnow-pagination>.active>a, 
.gftnow-pagination>.active>span, 
.gftnow-pagination>.active>a:hover, 
.gftnow-pagination>.active>span:hover, 
.gftnow-pagination>.active>a:focus, 
.gftnow-pagination>.active>span:focus{
	/*font-size: 1.5em;
    margin-top: -5px;*/
    background: #ececec;
    color: #535556;
}
.gftnow-loader{
	z-index: 99999999;
}

.gftnow-wizard{
	width: 100%;
}
.gftnow-wizard .wizard-header .title-list{
	list-style-type: none;
}
.gftnow-wizard .wizard-header .title-list span{
	display: inline-block;
}
.gftnow-wizard .wizard-header .title-list span i{position: relative;font-size: 30px;cursor: pointer;}
.gftnow-wizard .wizard-header .title-list span i.active{position: relative;font-size: 30px;cursor: pointer;color: #8bc24a;}
.gftnow-wizard .wizard-header .title-list span .fa-list-alt{
    left: -97px;
    color: #d8d8d8;
}

.gftnow-wizard .wizard-header .title-list span .fa-map-marker{
    left: -55px;
    color: #d8d8d8;
}
.gftnow-wizard .wizard-header .title-list span .fa-money{
    left: 20px;
    color: #d8d8d8;
}
.gftnow-wizard .wizard-header .title-list hr{
	border-top: 2px solid #c0c0c0;
    width: 120px;
    position: relative;
    top: -35px;
    display: inline-block;
}
.gftnow-wizard .wizard-header .title-list span .hr-sec{
	border-top: 2px solid #c0c0c0;
    width: 120px;
    position: relative;
    top: -35px;
    left: 33px;
}

#wizard-hr{
	background: url(../img/wizard-hr.png); 
	background-repeat: repeat-x;
	background-position: center center;
}
.gftnow-input{
    font-weight: 100 !important;
    font-size: 1.4em;
    width: 100%;
     -webkit-transition : border 500ms ease-out;
  	-moz-transition : border 500ms ease-out;
  	-o-transition : border 500ms ease-out;
  	transition : border 500ms ease-out;
}
.gftnow-input.textbox:focus,.gftnow-input.textbox:hover{
    border-bottom: 2px solid #679f37;
}
.gftnow-input.textarea:focus,.gftnow-input.textarea:hover{
    border: 2px solid #679f37;
}
.gftnow-input.textarea{
	border: 2px solid #d3d2d2;
	width: 100%;
     -webkit-transition : border 500ms ease-out;
  	-moz-transition : border 500ms ease-out;
  	-o-transition : border 500ms ease-out;
  	transition : border 500ms ease-out;
  	font-weight: 100 !important;
    font-size: 1.4em;
    height: 180px;
}
.gftnow-input.textbox{
	padding: 0px 5px 0px 0px;
    border: 0px;
    border-bottom:2px solid #d3d2d2;
}
input.gftnow-input.textbox::-webkit-input-placeholder {
    color: #d3d2d2 !important;
}
input.gftnow-input.textbox:-moz-placeholder {
    color: #d3d2d2 !important;

}
input.gftnow-input.textbox::-moz-placeholder {
    color: #d3d2d2 !important;

}
.gftnow-checkbox{
	position: relative;
	cursor: pointer;
}
.gftnow-checkbox.checkbox span{
	position: absolute;
    top: 5px;
    left: 25px;
}
.gftnow-checkbox.checkbox input{
	border: 1px solid #c0c0c0;
    font-size: 2em;
    height: 20px;
    width: 20px;
    color: #8bc24a;
}
.gftnow-map{
	height: 350px;
	border: 1px solid #c0c0c0;
	width: 100%;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border: 0px solid;
}
.barcode-list ol li{
	padding: 5px 25px 5px 5px;
	position: relative;
}
.barcode-list ol li i{
	position: absolute;
	top: 10px;
	right: 0px;
	color: #8bc24a;
	font-size: 1.3em;
}
.fa-question-circle{color:#efbf46;font-size: 1.3em; }
.gftnow-wizard-list li{border-bottom: 2px solid #d3d2d2;width: 95%;padding:10px 10px 0px 10px;cursor: pointer;}
.gftnow-wizard-list li p i.text-success{font-size: 20px;cursor: pointer;}
.gftnow-wizard-list li p i.text-default{font-size: 20px;color:#c0c0c0;cursor: pointer;}
i.text-default{font-size: 20px;color:#c0c0c0;cursor: pointer;}
.barcodeContainer{text-align: center;}
.termCondition{text-align: justify;}
.campaign-drops{
	text-align: center;
	padding: 28px;
	background: #f3f3f3;
	width: 100%;
	color: #8bc24a;
	cursor: pointer;
}
.flavor-campaigns{
	margin-bottom: 10px;
}
.campaign-drops-desc{
	margin: 0px 0px 0px 0px;
	background: #f9f9f9;
	padding: 30px 10px 10px 10px;
	display: none;
}
.campaign-drops-desc.active{
	margin: 0px 0px 0px 0px;
	background: #f9f9f9;
	padding: 30px 30px 10px 30px;
	display: block;
}
.new-drop{
	padding: 30px;
	text-align: center;
	color: #8bc24a;
	background: #f3f3f3;
	cursor: pointer;
}
.new-drop-list{
	padding: 30px 30px 45px 30px;
	background: #f3f3f3;
	cursor: pointer;
}


.paypal-table {
	width: 100% !important;
	text-align: center;
}

.paypal-visa {
	margin-left: 80px;
	margin-top: 30px;
}

.exp {
	float: left;
}

.cvv {
	float: right;
}

.visa-logo {
	height: 30px;
	width: 60px;
}

.paypal-div {
	text-align: center;
}

.paypal-logo {
	float: right;
	text-align: left !important;
	border-radius: 5px;
}

.or {
	line-height: 2;
}

.paypal-img {
	height: 50px;
	width: 80px;
	background-color: #009cde;
}

.button-continue {
	margin-top: 60px;
	text-align: right;
}

.email-container{
	position: absolute;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	right: -20px;
	top: -125px;
	bottom: 60px;
	z-index: 99990;
	min-width: 200px;
	height: 90px;
	font-size: 15px;
	color: #000000;
	width: auto;
	display: none;
	border: 1px solid #d3d2d2;
	background-color: #f6f7fa;
	background: #f6f7fa;
	border-radius: 5px;
	-webkit-box-shadow:0px 1px 1px #fcfcfc;
 	-moz-box-shadow:0px 1px 1px #fcfcfc;
 	box-shadow:0px 1px 1px #fcfcfc;
 	font-family: GothamRndLight;
}

.email-container .pointer{
	position: absolute;
	right: 10px;
	z-index: 99992;
	top:0px;
}

.email-container a{
	text-decoration: none;
	cursor: pointer;
}

.email-container .email{
	position: absolute;
	background-color: #f6f7fa;
	border-bottom: 1px solid #d3d2d2;
	width: 100%;
	padding: 10px;
	padding-top: 0px;
	border-radius: 5px;
	min-height: 100px;
	height: auto;
	max-height: 100px;
	z-index: 99991;
	margin-top: 0px;
	overflow: hidden;
	overflow-y: auto;
}

.email-container .email .row{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
} 

.email-container1 .email .row:hover{
	background-color: #f6f7fa;
}

.email-container:after, .email-container:before {
	top: 100%;
	right: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.email-container:after {
	border-color: rgba(246, 247, 250, 0);
	border-top-color: #f6f7fa;
	border-width: 12px;
	margin-left: -12px;
}
.email-container:before {
	border-color: rgba(211, 210, 210, 0);
	border-top-color: #d3d2d2;
	border-width: 13px;
	margin-left: -13px;
}


.text-warning{
	color: #FDD05E;
}

.text-success{
	color: #8bc24a !important;
}

.section-success{
	background: url(../img/section-success.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
}

.section-warning{
background: #EBB100 !important;
}

.section-default{
	background: #D3D2D2 !important;
	border-color: #514F4F !important;
}

.section-default#onboarding-footer{
	border-bottom: 5px solid #514F4F;
}

.text-white{
	color: white;
}

.text-black{
	color: black;
}



.btn-success {
	background-color: #8bc24a;
	border-radius: 5px;
	border: 0;
}

.btn-success:hover, .btn-success:active  {
	background-color: #679F37;
}

#notif-email{
    position:relative;    
}

#divB{
    position: absolute;
 }
 
 .custom-flex-title {
 	height:100px; 
 	display: flex; 
 	align-items: center; 
 	justify-content: center; 
 	background-color: #f4f5f8; 
 	margin-bottom: 10px; 
 	text-align: center;
 	border: 3px solid #ffffff;
 }

 .custom-flex-title:hover{
 	border: 3px solid #8bc24a;
 }

 .custom-flex-title-disabled {
 	height:100px; 
 	display: flex; 
 	align-items: center; 
 	justify-content: center; 
 	background-color: #f4f5f8; 
 	margin-bottom: 10px; 
 	text-align: center;
 	border: 3px solid #ffffff;
 }

 .custom-flex-title-disabled:hover{
 	border: 3px solid #d3d2d2;
 }

 .custom-flex {
 	height: 100px; 
 	display: flex; 
 	align-items: stretch; 
 	justify-content: space-between; 
 	background-color: #f4f5f8; 
 	margin-bottom: 10px; 
 	padding-left: 20px;
 	border: 3px solid #ffffff;
 }

 .custom-flex:hover{
 	border: 3px solid #8bc24a;
 }

 .custom-subtitle {
 	align-self: center;
 }

 .custom-right-text {
 	align-self: center; 
 	font-size: 18px;
 }

 .custom-circle {
 	background-color: #f4f5f8; 
 	height: 80px; 
 	width: 80px;
 	position: relative;
 	border: 2px solid #D3D2D2;
 }

.profile-title {
	float: right;
	left: 110px !important;
	position: absolute;
	top: 10px;
}

.custom-title {
	text-align: left;
	line-height: 80px !important;
	font-family: GothamRndMedium;
}

.content-info{
	font-size: 20px;
	font-family: GothamRndMedium;
}

 .custom-color{
 	color: #ffffff !important;
 }

 .profile-img-container {
    position: relative;
    display: inline-block; /* added */
    overflow: hidden; /* added */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid #D3D2D2;
}

.profile-img-container img {width: 100%; height: auto;} /* remove if using in grid system */


.profile-img-container #profilepic:hover {
    opacity: 0.5
}
.profile-img-container:hover a {
    opacity: 1; /* added */
    top: 0; /* added */
    z-index: 500;
    background-color: rgba(0, 0, 0, .6);
}
/* added */
.profile-img-container:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
/* added */
.profile-img-container a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}

.custom-campaign-title {
	height: 100px; 
 	display: flex; 
 	align-items: center; 
 	justify-content: center;
 	margin-bottom: 10px; 
 	padding-left: 20px;
}

.step-list {
	border: 0px !important;
	background-color: transparent !important;
	margin-right: 60px;
}

.icon-title {
	font-size: 30px !important;
}

.minify2{
	text-align: center;
	right: none !important;
	left: 0 !important;
	top: -1px !important;
	margin: 0px !important;
	border-radius: 0px !important;
	display: inline-block;
	height: 100%;
	width: 15px;
	vertical-align: middle;
	background-color:#619534 !important;
	position: fixed;
	z-index: 997;
	height: 60px;
	left: 220px !important;
}

.minify2 i{
	line-height: 60px !important;
	margin-left: 0px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  padding:0px;
  height: 100%;
  margin: 0px;
  background-color: #F4F5F8;
}

.container-full .half{
	width: 50%;
	display: inline-block;
}

.minified .minify2{
	text-align: center;
	right: none !important;
	left: 0 !important;
	top: -2px !important;
	margin: 0px !important;
	border-radius: 0px !important;
	display: inline-block;
	height: 100%;
	width: 15px;
	vertical-align: middle;
	background-color:#619534 !important;
	position: fixed;
	z-index: 999999;
	height: 60px;
	left: 45px !important;
}

.minified .minify2 i{
	line-height: 60px !important;
}

.minified .minify2 i:after{
	content: attr('class') " : fa-angle-left";
}

@media (max-width: 960px) {
	.minify2{
		left: 0px !important;
	}

	#notifications-balloon{
		top: 65px !important;
		z-index: 99999;
	}

	.arrow_box_top:after {
		border-color: rgba(246, 247, 250, 0);
		border-bottom-color: #F6F7FA;
		border-width: 15px;
		margin-left: 70px !important;
	}

	.arrow_box_top:before {
		border-color: rgba(211, 210, 210, 0);
		border-bottom-color: #D3D2D2;
		border-width: 18px;
		margin-left: 67px !important;
	}
}

.drop-rounded-header{
	border: 2px solid #d3d2d2;
	border-radius: 20px;
	width: 100%;
	padding-top:6px;
	padding-bottom:6px;
	padding-right:6px;
	padding-left:25px;
	color: #514F4F;
	cursor: pointer;
	font-size: 13px;
}

.drop-rounded-body{
	margin-top: 5px;
	border-radius: 20px;
	height: auto;
	padding: 0px;
	padding-bottom: 0px !important;
	display: none;
	border: 1px solid #d3d2d2;

	position: absolute;
	width: 94%;
	overflow: hidden;
	overflow-y: auto;
	background-color: #f7f7f7;
	z-index: 99991;
	font-size: 13px;
}

.drop-rounded-body ul{
	padding: 0px;
	margin: 0px !important;
}

.drop-rounded-body ul li{
	list-style: none;
	text-align: center;
	padding: 5px;
	margin: 0px;
}

.drop-rounded-header .fa{
	color: #413f3f;
}

.drop-rounded-body ul li:hover{
	background-color: #d3d2d2;
}

.drop-rounded-body ul a{
	color: #413F3F;
	text-decoration: none;
}

.gftnowLoader{
	z-index: 1;
	margin-top: 150px;
	background: transparent;
}
.gftnowLoader i{
	color:#ffcc75;
}

.rounded-search{
	border-radius: 20px !important;
	border: 2px solid #d3d2d2;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 0px;
	cursor: pointer;
	color: #d3d2d2;	
}

.arrow_box {
	position: absolute;
	background: #F6F7FA;
	border: 2px solid #D3D2D2;
	padding: 10px;
	padding-bottom: 15px;
	border-radius: 10px;
	text-align: center;
	z-index: 99990;
	display: none;
	-webkit-box-shadow:0px 1px 1px #fcfcfc;
 	-moz-box-shadow:0px 1px 1px #fcfcfc;
 	box-shadow:0px 1px 1px #fcfcfc;
}

#plans-balloon{
	left: 20px;
	top: -45px;
	bottom: 30px;
}

#email-balloon{
	right: 155px;
	top: -45px;
	bottom: 30px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(246, 247, 250, 0);
	border-top-color: #F6F7FA;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(211, 210, 210, 0);
	border-top-color: #D3D2D2;
	border-width: 13px;
	margin-left: -13px;
}

.arrow_box a{
	text-decoration: none;
}

/**/

.arrow_box_top {
	position: relative;
	background: #F6F7FA;
	border: 2px solid #D3D2D2;
}
.arrow_box_top:after, .arrow_box_top:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_top:after {
	border-color: rgba(246, 247, 250, 0);
	border-bottom-color: #F6F7FA;
	border-width: 15px;
	margin-left: 141px;
}
.arrow_box_top:before {
	border-color: rgba(211, 210, 210, 0);
	border-bottom-color: #D3D2D2;
	border-width: 18px;
	margin-left: 138px;
}

#notifications-balloon{
	position: fixed;
	z-index: 99991;
	top: 60px;
	right: 20px;
	border-radius: 10px;
	padding: 10px;
	min-width: 250px;
	width: 30%;
	z-index: 99990;
	min-height: 100px;
	height: auto;
	max-height: 500px;
	display: none;
}

#notifications-balloon .body{
	overflow: hidden;
	overflow-y: auto;
}
#notifications-balloon .row{
	padding-top: 5px;
	padding-bottom: 5px;
}


#landing{
	background: url(../img/landing-page1.png);
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
	min-height: 100px;
}
#landing h2{
	color: #ffffff;
}

#landing input{
	border-radius: 20px !important;
	padding: 5px;
	background-color: rgba(255,255,255,0.5);
	padding-left: 15px;
	padding-right: 15px;
}

#landing .mask{
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100vh;

}

.landing-nav-header
{
	color: #ffffff !important;
	
}
.landing-nav{
	/*position: fixed;*/
	top: 0px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	/*background-color: #ffffff;*/
	z-index: 99999;
}
.landing-nav-2{
	top: 0px;
	width: 100%;
	background-color: #ffffff;
	z-index: 99999;
	color: #fff;
}
.landing-nav-2 div h2{ display: inline-block; font-family: font-family: GothamRndLight; }
.landing-nav-2 div a{ color: #fff; }

#landing-video{
	/*margin-top: 100px;*/
	min-height: 400px;
	height: 400px;
}


#landing-video .subheader{
	
}

.section{
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 10px;

}


::-webkit-input-placeholder {
   text-align: center;
   color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
   color: #000000;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
   color: #000000;
}

:-ms-input-placeholder {  
   text-align: center; 
   color: #000000;
}

input:placeholder-shown {
  color: #000000;
}

/*loader start*/
@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-rolling-css {
  width: 200px;
  height: 200px;
}
.uil-rolling-css > div {
  width: 200px;
  height: 200px;
  position: relative;
  -ms-animation: uil-rolling-anim 1s linear infinite;
  -moz-animation: uil-rolling-anim 1s linear infinite;
  -webkit-animation: uil-rolling-anim 1s linear infinite;
  -o-animation: uil-rolling-anim 1s linear infinite;
  animation: uil-rolling-anim 1s linear infinite;
}
.uil-rolling-css > div div {
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 1000px 1000px 0 0;
  border-color: #FECD00;
  border-style: solid;
  border-width: 40px;
  border-bottom-width: 0;
}
.uil-rolling-css > div div:nth-of-type(2) {
  -ms-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  -moz-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  -webkit-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  -o-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
}
/*loader end*/

.mb-inside img { width: 100%; margin: 0 !important; }
.mb-scrollButtons{display:none !important;}
.mb-wrapper{border:0px !important;background: url('../img/mybg.png') #F4F5F8 !important;box-shadow: none !important}
.mb-inside{border: 0px !important;}
.mb-inside *{width: 100% !important;}

@media (max-width: 414px) {
	#slider-one{
		margin-left: 20px !important;
	}

	.onboarding{
		min-height: 750px;
		height: 750px;
	}

	.uploadLogo{
		width: 100%;

	}

	.forminified{
		display: inline-block;
		color:#ffffff;
	}

	.forminified img{
		width: 25px;
		height: auto;
	}

	.onboarding .uploadLogo2 div.img img{
		width: 80%;height: auto;
	}

	.onboarding-container{
		min-height: 3200px;
		display: initial;
	}

	.onboarding-0-left{
		height: 600px !important;
		min-height: 600px !important;
	}
	.onboarding-1-left{
		height: 450px !important;
		min-height: 450px !important;
	}
	.onboarding-2-left{
		height: 450px !important;
		min-height: 450px !important;
	}
	.onboarding-right{
		height: 1000px !important;
		min-height: 1000px !important;
	}
	.txt-rows{
		padding: 0px !important;		
	}
}

@media (max-width: 320px){
	.forminified{
		display: inline-block;
		color:#ffffff;
		height: 95%;
	}

	.forminified img{
		width: 25px;
		height: auto;
	}


}

.landing-nav{
	/*background-color: #EDEDED;*/
}
.landing-nav-2{
	background-color: #8BC24A;

}
a{
	color: #514F4F;
	text-decoration: none !important;
}

a:hover{
	text-decoration: none !important;
}

.playicon{
	width: 60px;
	height: auto;
}

#movingbox-prev, #movingbox-next{
	cursor: pointer;
}


			/* webkit solution */
::-webkit-input-placeholder { text-align:left; }
/* mozilla solution */
textarea:-moz-placeholder { text-align:left; }
/*End of New CSS*/


a, a:hover{
	text-decoration: none;
}

/*gftnow checkbox*/

.gftnow-inline .gftnow-form{
	display: inline-block;
	margin-right: 20px;
}

.gftnow-form{
	position: relative;
		min-height: 30px;
		height: 30px;

}
.gftnow-form .gftnow-checkbox{
	border: 1px solid #95989A;
	border-radius: 5px;
	background-color: #F4F5F8;
	top: 0;
	bottom: 0;
	width: 20px;
	height: 20px;
	position: absolute;
	margin: auto;
}

.gftnow-form label{
	padding-left: 30px;
	padding-top: 5px;
	font-family: GothamRndBold;
	font-size: 14px;
	color: #514F4F;
}

.gftnow-form p{
	padding-left: 45px;
	font-family: GothamRndRegular;
	color: #514F4F;
}

.gftnow-checkbox:hover, .gftnow-checkbox.active, .gftnow-checkbox.active:hover{
	border: 1px solid #679F37;
	background-color: #8BC24A;
}

.gtfnow-uploader-slider{
	
	
}
.gtfnow-uploader-slider ul{
	margin: 0;
	padding: 0;
	white-space: nowrap;
	width: 1000px;
	overflow-x: hidden;

}

.gtfnow-uploader-slider ul li{
	margin-right: 10px;
	margin-top: 5px;
	margin-left: 5px;
	display: inline-block;
	max-width: 220px;
	width: 220px;
}

.gtfnow-uploader-slider ul li .uploadLogo2{
	max-width: 220px;
	width: 220px;
	padding: 0px;
	overflow: hidden;
	text-align: center;
	border: 6px solid #FFFFFF;
	box-shadow: 0px 0px 0px 1px #D3D2D2;	
}

.card-preview-small{
	max-width: 350px !important;
	width: 350px !important;
	height: 195px !important;
}

em.invalid{
	font-size: 12px;
	color: #e74c3c;
}

.gtfnow-uploader-slider ul li .uploadLogo2:hover{
	border: 6px solid #8BC24A;
	background-color: #F4F5F8;
}

.gtfnow-uploader-slider ul li .uploadLogo2.active{
	border: 6px solid #95989A;
}

.gtfnow-uploader-slider ul li .uploadLogo2 img, .gtfnow-uploader-slider ul li .uploadLogo2 video{
	width: auto;
	height: 100%;
}

.gtfnow-uploader-slider ul li .uploadLogo2 .label2{
	top:0;
	bottom: 0;
	margin: auto;	
	height: 60px;
}

.gftnow-fader{
	display: none;
	position: absolute;
	z-index: 9999;
	background: url(../img/fader.png);
	background-position: left;
	background-repeat: repeat-y;
	width: 120px;
	height: 220px;
}

.gftnow-fader img{
	position: absolute;
	top:0;
	bottom: 0;
	height: 12px;
	width: auto;
	margin: auto;
	cursor: pointer;
}

.gftnow-badge{
	background-color: #D3D2D2;
}

/*buttons*/

.gftnow-btn{
	border-radius: 20px;
	padding-left: 50px !important;
	padding-right: 50px !important;
	font-size: 16px;
	box-shadow: none;
	font-family: GothamRndMedium;
}

.gftnow-btn-circle{
	border-radius: 20px;
	font-size: 16px;
	box-shadow: none;
	font-family: GothamRndMedium !important;
}

.gftnow-btn-default{
	border: 2px solid #D3D2D2;
	color: #ffffff;
	background-color: #D3D2D2;
	font-family: GothamRndRegular;
}

.gftnow-btn-default:hover{
	border: 2px solid #95989A;
	color: #ffffff;
	background-color: #95989A;
	font-family: GothamRndRegular;
}

.gftnow-btn-success{
	border: 2px solid #8BC24A;
	color: #ffffff;
	background-color: #8BC24A;
	font-family: GothamRndMedium;
}


.gftnow-btn-success:hover{
	border: 2px solid #679F37;
	background-color: #679F37;
	color: #ffffff;
	font-family: GothamRndRegular;
}

.gftnow-btn-nobg, .gftnow-btn-nobg:hover {
	background-color: transparent !important ;
}

.gftnow-btn-nobg.gftnow-btn-success{
	color: #8BC24A;
}

.gftnow-btn-nobg.gftnow-btn-success:hover{
	color: #8BC24A;
}

.gftnow-btn-nobg.gftnow-btn-default{
	color: #D3D2D2;
}

.gftnow-btn-nobg.gftnow-btn-default:hover{
	color: #D3D2D2;
}

.gftnow-rounded{
	border-radius: 120px;
	display: inline-block;
	height: 120px;
	width: 120px;
	position: relative;
}

.gftnow-rounded h4{
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	height: 20px;
}

.gftnow-nopadding{
	padding:0 !important;
}

.gftnow-container{
	border-radius: 5px !important;
	background: #f7f7f7;
	font-weight: bold;
	border: 1px solid #ccc;
	padding: 4px;
	color: #ccc;

}

.gftnow-hide{
	display: none;
}
	
.gftnow-landing-video{
	background: url(../img/parallax4.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
}

.gftnow-landing-video2{
	position: relative;
	background-color: black;
	height: 100vh;
}

.gftnow-landing-video2 span.mask, .gftnow-landing-video span.mask{
	background-color: rgba(0, 0, 0, 0.2);
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	min-height: 550px;
	height: 700px;
}



.gftnow-text-white{
	color: #ffffff !important;
}

.gftnow-nopadding{
	padding: 0 !important;
}

.gftnow-font-13{
	font-size: 13px;
	line-height: 13px;
}

.gftnow-font-14{
	font-size: 14px;
	line-height: 14px;
}

.gftnow-font-18{
	font-size: 18px;
	line-height: 18px;
}

.gftnow-font-28{
	font-size: 28px;
	line-height: 28px;
}

.gftnow-font-48{
	font-size: 48px;
	line-height: 48px;
}

.datepicker-days{
	padding-left: 20px;
	padding-right: 20px;
}
.datepicker .datepicker-days .day
{
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 40px;
}
.datepicker .datepicker-days .day.active{
	background-color: #8BC24A !important;
	background-image:none !important;
	color: #514F4F;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 40px;
}

.datepicker .datepicker-days .day.old,.datepicker .datepicker-days .day.disabled{
	color: #D3D2D2;
}

.datepicker-days .table-condensed th, .datepicker-days .table-condensed td{
	padding: 10px !important;
	color: #514F4F;
}

.datepicker-switch{
	width: auto !important;
	color: #8BC24A !important;
}

.datepicker-days .gftnow-datepicker-year{
	color: #D3D2D2 !important;
}

.gftnow-panel{
	background-color: #ffffff;
	-webkit-box-shadow:0px 3px 5px 0px #ccc;
 	-moz-box-shadow:0px 3px 5px 0px #ccc;
 	box-shadow: 0px 3px 5px 0px #ccc;
 	padding: 20px;
 	font-size: 13px;
}

.gftnow-btn-rounded{
	border-radius: 15px;
	min-width: 150px;
}

/*#gftnow-barcodes-table tr:first-child td, #gftnow-barcodes-table tr:last-child td{
	border-top: 0px solid #fff !important;
	border-left: 0px solid #fff !important;
	border-right: 0px solid #fff !important;
}

#gftnow-barcodes-table tr td:first-child, #gftnow-barcodes-table tr td:last-child{
	border-bottom: 0px solid #fff !important;
}*/

#gftnow-barcodes-table td{
	border: 0;
	border-bottom: 1px solid #D3D2D2;
}

#gftnow-barcodes-table tr td:first-child, #gftnow-barcodes-table tr td:last-child{
	border: 0;
}



.gftnow-display-none{
	display: none;
}

.gftnow-display-initial{
	display: initial;
}

.gftnow-infobox-wrapper{
 	display: none;
}
.gftnow-infobox {  
    background-color: #ffffff;
	-webkit-box-shadow:0px 3px 5px 0px #ccc;
 	-moz-box-shadow:0px 3px 5px 0px #ccc;
 	box-shadow: 0px 3px 5px 0px #ccc;
 	font-size: 16px;
 	font-family: GothamRndMedium;
 	padding: 10px 40px 10px 40px;
 	top: 500px !important;
 	margin-bottom: 70px;
 	/*margin-right: 50px;*/
 	border-radius: 10px;
}
/*#gftnow-infobox:before{
	content: "";
	position: absolute;
	top: 100%;
	right: 20px;
	width: 0;
	border-top: 20px solid white;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}*/

.gftnow-font-bold{
	font-family: GothamRndBold;
}

.gftnow-font-regular{
	font-family: GothamRndRegular;
}

.gftnow-font-light{
	font-family: GothamRndLight;
}

.gftnow-font-medium{
	font-family: GothamRndMedium;
}

.gftnow-bg-confirm{
	background-color: rgba(174, 213, 129, 0.9);
	min-height: 500px;
	height: 500px;
}

.gftnow-bg-confirm .mask{
	background: url(../img/confirm-bg-2.png);
	background-position: center center;
	background-size: 15% auto;
	background-repeat: repeat;
	display: block;
    height: 100%;
    width: 100%;
    min-height: 500px;
	height: 500px;
}

#confirm-panel img{
	width: 100px;
	height: auto;
}
#confirm-panel{
	width: 70%;
	min-height: 300px;
	height: auto;
	left: 0;
	right: 0;
	top: 150px;
	margin: auto;
	margin-top: -420px;
	border-radius: 15px;
	background: url(../img/down-shadow.png) #ffffff;
	background-repeat: repeat-x;
	background-position: center center;
}

.gftnow-text-default{
	color: #D3D2D2;
}

.form-control{
	font-family: GothamRndMedium !important;
	font-weight: normal !important;
}


.gftnow-mask{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top:0;
	z-index: 999999;
	display: none;
}

.gftnow-modal{
	position: fixed;
	background-color: none;
	width: 50%;
	min-height: 200px;
	max-height: 500px;
	border-radius: 10px;
	left:0;
	right: 0;
	top:0;
	bottom: 0;
	margin: auto auto;
	z-index: 9999;
	overflow: hidden;
}


#mask1 .gftnow-modal{
	background-color: white;
}

.gftnow-modal .gftnow-modal-header b{
	font-family: GothamRndMedium;
	font-weight: 400;
	font-size: 18px;
}

.gftnow-modal .gftnow-modal-header{
	font-family: GothamRndRegular;
	padding: 20px;
}

.gftnow-modal-body{
	padding-left: 10% !important;
	padding-right: 10% !important;
}

.gftnow-croppie-container{
	height: 300px !important;
}

.cr-vp-circle{
	border: 8px solid #FDD05E !important;
}

.cr-vp-square{
	border: 4px solid #FDD05E !important;
}

#croppie-crop-icon{
	position: absolute;
	left: 0;
	right: 0;
	width: 20px;
	margin: 0 auto;
	z-index: 9999999 !important;
	margin-top: 15px;
	cursor: pointer;
}

#onboarding-nav ul li:hover .numberCircle
{
	border-radius: 50%;
	behavior: url(PIE.htc); 
	width: 30px;
	height: 30px;
	padding: 7px;
	border: 2px solid #E3B338;
	color: #E3B338;
	text-align: center;
	font: .8em Arial, sans-serif;
	margin-left: 10px;
	margin-right: 10px;
}

#onboarding-nav ul li .numberCircle
{
	border-radius: 50%;
	behavior: url(PIE.htc); 
	width: 30px;
	height: 30px;
	padding: 7px;
	border: 2px solid #ffffff;
	color: #E3B338;
	text-align: center;
	font: .8em Arial, sans-serif;
	margin-left: 10px;
	margin-right: 10px;
}

#onboarding-nav ul li span{
	font-family: GothamRndMedium;
}

input.invalid, textarea.invalid{
 border: 1px solid #e74c3c;
}

.bootstrap-timepicker-hour ,.bootstrap-timepicker-minute, .bootstrap-timepicker-meridian{
	box-shadow: none !important;
	border: 1px solid #ccc;
	color: #514F4F;
}

.gftnow-numbered-marker{
	background: url(../img/pin_with_num.png);
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	width: 80px;
	height: 85px;
	text-align: center;
	font-family: GothamRndBold;
	font-size: 24px;
	padding-top: 35px;
	color: #fff;
	margin-left: -40px;
	margin-top: -100px;
}

.gftnow-image-marker{
	background: url(../img/white-pin.png);
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	width: 80px;
	height: 100px;
	text-align: center;
	font-family: GothamRndBold;
	font-size: 24px;
	padding-top: 35px;
	color: #fff;
	margin-left: -40px;
	margin-top: -100px;
}

input::placeholder,textarea::placeholder
{
	color: #514F4F !important;
}

/*input, textarea, .form-control, .twitter-typeahead input{
	color: #000 !important;
	background-color: #fff !important;
	border-radius: 0px !important;
	border: 0px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	box-shadow: none !important;
}

.tt-hint{
	border-bottom: 0px solid #ccc !important;
}*/

.placeholder-effect{
	position: absolute;
	color: #514F4F !important;
	padding: 6px;
	padding-left: 14px !important;
	font-size: 13px !important;
	-webkit-transition:  margin-left 0.2s, margin-top 0.2s, color 0.2s, font-size 0.2s; /* Safari */
    transition: margin-left 0.2s, margin-top 0.2s, color 0.2s, font-size 0.2s;
}

.placeholder-effect.active{
	margin-top: -30px;
	margin-left: -15px !important;
	color: #D3D2D2 !important;
	font-size: 12px !important;
}

.addon-dollar{
	color:#D3D2D2;
	font-family:GothamRndLight;
	font-size:12px;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .addon-dollar {
  position: absolute;
  padding: 9px;
  pointer-events: none;
}
.left-addon .addon-dollar {
	left: -30px;
}
.right-addon .addon-dollar {
	right: -30px;
}
.left-addon input {
	padding-left: 30px;
}
.right-addon input {
	padding-right: 30px;
}
.addon-search {
	color:#D3D2D2;
	font-family:GothamRndLight;
	font-size:12px;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .addon-search {
  position: absolute;
  padding: 7px;
  pointer-events: none;
}
.left-addon .addon-search {
	left: 0px;
}
.right-addon .addon-search {
	right: 0px;
}
.left-addon input {
	padding-left:  22px;
}
.right-addon input {
	padding-right: 22px;
}

#gftnow-hero-mobile-store-container{
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.gftnow-middle-center{
	position: absolute;
	height: 100px;
	top:0;
	bottom: 0;
	margin: auto;
}

.gftnow-font-color-light{
	color: #95989A;
}

.gftnow-signbox{
	position: absolute;
	background-color: #ffffff !important;
	padding: 30px;
	border-radius: 20px;
	width: 380px;
	margin-top: 10px;
	display: none;
	z-index: 9999;
	padding-bottom: 0px !important;
}

.gftnow-signbox input{
	border-radius: 10px !important;
	padding: 10px !important;
	height: 42px !important;
	line-height: 42px !important;
	
}

.gftnow-signbox input::placeholder{
	text-align: left !important;
	color: #D3D2D2 !important;
}

.arrow_box_top_center:after {
	border-color: rgba(246, 247, 250, 0);
	border-bottom-color: #fff;
	border-width: 15px;
	margin-left: -10px;
}
.arrow_box_top_center:before {
	border-color: rgba(211, 210, 210, 0);
	border-bottom-color: #D3D2D2;
	border-width: 18px;
	margin-left: -13px;
}

.read-disclaimer{
	font-family:GothamRndMedium;
	color: #E3B338 !important;
}

.read-disclaimer:hover{
	color: #c09853 !important;
}

.other-brand{
	border: 3px solid #FFFFFF;
	cursor: pointer;
}
.other-brand:hover{
	border: 3px solid #8BC24A;
}
.other-brand.active{
	border: 3px solid #8BC24A;
}

#gftnow-scrollbar::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #FFFFFF;
}

#gftnow-scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #FFFFFF;
}

.gftnow-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #f4f5f8;
}

.gftnow-scrollbar::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #FFFFFF;
}

.gftnow-scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #FFFFFF;
}

.gftnow-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #f4f5f8;
}

#gftnow-scrollbar1::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #FFFFFF;
}

#gftnow-scrollbar1::-webkit-scrollbar
{
	width: 12px;
	background-color: #FFFFFF;
}

#gftnow-scrollbar1::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #f4f5f8;
}

#offer{
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
	border-color: #F4F5F8;
}

#offer-dummy{
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
	border-color: #F4F5F8;
}

.btn-paypal{
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;	
	background-color: #55AAFF;
	color: #ffffff;
	font-weight: bold;
}
.btn-paypal:hover{
	background-color: #3d9eff;
	color: #ffffff;
}
.btn-visa{
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;	
	background-color: #000080;
	color: #ffffff;
	font-weight: bold;
}
.btn-visa:hover{
	background-color: #030351;
	color: #ffffff;
}

.gftnow-placeholder-left::placeholder{
	text-align: left;
}

.gftnow-placeholder-right::placeholder{
	text-align: right;
}

.gftnow-phone-bg{
	background: url(../img/mobile-1.png);
	position: inline-block;
	width: 240px;
	height: auto;
	min-height: 450px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 45px;
}

#gftnow-landing-discover{
	background: url(../img/h1-slide2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 700px;
}
#gftnow-landing-discover-description{
	min-height: 700px;
}

#gftnow-landing-share{
	background: url(../img/h1-slide3.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 700px;
}
#gftnow-landing-share-description{
	min-height:700px;
}

#gftnow-landing-give{
	background: url(../img/h1-slide4.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 700px;
}
#gftnow-landing-give-description{
	min-height:700px;
}

#gftnow-landing-slider{
	background: url(../img/h1-slide5.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 700px;
}

#gftnow-landing-slider-description{
	min-height:700px;
}

#gftnow-landing-download{
	background: url(../img/h1-slide6.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 700px;
}

#gftnow-landing-download-description{
	min-height:700px;
}

#gftnow-landing-slider-description div,#gftnow-landing-discover-description div, #gftnow-landing-share-description div, #gftnow-landing-share-description2 div{
		position:absolute;
		height:200px;
		top:0;
		bottom:0;
		margin: auto;
	}

#gftnow-landing-share, #gftnow-landing-share-description{
	min-height: 500px;
}

@media (max-width: 414px) {
	#gftnow-landing-discover{
		min-height:700px;
	}

	#gftnow-landing-discover-description{
		min-height:350px;
		padding-top: 0 !important;
	}

	#gftnow-landing-discover-description div{
		margin: 0;
	}

	#gftnow-landing-discover-description .gftnow-font-light{
		text-align: center;
	}

	#gftnow-landing-share .gftnow-phone-bg{
		right: 10px !important;
	}

	#gftnow-landing-share{
		min-height:400px;
	}
	#gftnow-landing-share-description{
		min-height:500px;
	}

	#gftnow-landing-give .gftnow-phone-bg{
		right: 10px !important;
	}

	#gftnow-landing-give{
	min-height:700px;
	}

	#gftnow-landing-give-description{
		min-height: 200px;
		padding-bottom: 100px;
	}

	#gftnow-landing-share-description2{
		padding-bottom: 100px;
	}

	#gftnow-landing-slider{
		min-height:500px;
	}

	#gftnow-landing-slider-description{
		min-height:250px;
		text-align: center;
	}


}

.mb-panel{
	padding-top: 100px !important;
}

.mb-panel.current{
	padding-top: 20px !important;
}

.alert{
}

.alert-danger{
	background-color: transparent;
	border: 2px solid #e74c3c;
	border-radius: 5px;
	text-shadow: none;
	color: #e74c3c;
}

.twitter-typeahead{
	width: 95% !important;
	display: inline !important;
	background-color: #f7f7f7 !important;
}

.twitter-typeahead input{
	background-color: #f7f7f7 !important;
}

div[class^='tt-dataset'] li, div[class^='tt-dataset'] p, span[class^='tt-dataset'] a{
	color: #000 !important;
}

.gotham-light-placeholder::-webkit-input-placeholder {
    font-family: GothamRndLight !important;
}

.gotham-regular-placeholder::-webkit-input-placeholder {
    font-family: GothamRndRegular !important;
}

.icon-gray{
	color: #D2D2D2 !important;
}

.custom-input input{
	border-radius: 5px !important;
	background: #f7f7f7;
	font-weight: bold;
}

a.bttn {
  color: #8BC24A;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn:hover {
  color: #FFF;
}
a.bttn:focus {
  color: #FFF;
}
.bttn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 200px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #8BC24A;
  border-radius: 2px;
  position: relative;
}
.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #8BC24A;
  z-index: -2;
}
.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

a.bttn-rounded {
  color: #8BC24A;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn-rounded:hover {
  color: #FFF;
}
a.bttn-rounded:focus {
  color: #FFF;
}
.bttn-rounded {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: bold;
  padding: 9px 0px;
  border: 3px solid #8BC24A;
  border-radius: 25px;
  position: relative;
}
.bttn-rounded:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #8BC24A;
  z-index: -2;
  border: 3px solid #8BC24A;
  border-radius: 25px;
}
.bttn-rounded:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  border: 3px solid #8BC24A;
  border-radius: 25px;
}
.bttn-rounded:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  border: 3px solid #8BC24A;
  border-radius: 25px;
}


.StripeElement {
  background-color: white;
  padding: 8px 12px;
  /*border-radius: 4px;*/
  border-bottom: 1px solid #e6ebf1;
  /*box-shadow: 0 1px 3px 0 #e6ebf1;*/
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


.field {
  background: #fff;
  font-weight: 300;
  border: 0;
  color: black;
  outline: none;
  cursor: text;
  display: block;
  width: 100%;
  line-height: 32px;
  padding-bottom: 3px;
  transition: opacity 200ms ease-in-out;
}

.field::-webkit-input-placeholder { color: #8898AA; }
.field::-moz-placeholder { color: #8898AA; }

/* IE doesn't show placeholders when empty+focused */
 .field:-ms-input-placeholder { color: #424770; }

.field.is-empty:not(.is-focused) {
	opacity: 0;
}

#payment-form{
	width: 480px;
	margin: 10px auto;
}

.pay-label {
  height: 35px;
  position: relative;
  color: #8798AB;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}

.pay-label > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
  line-height: 32px;
  color: #413f3f;
  border-bottom: 1px solid #586A82;
  transition: border-bottom-color 200ms ease-in-out;
  cursor: text;
  pointer-events: none;
}

.pay-label > span span {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 50%;
  transition: transform 200ms ease-in-out;
  cursor: text;
}

.pay-label .field.is-focused + span span,
.pay-label .field:not(.is-empty) + span span {
  transform: scale(0.68) translateY(-36px);
  cursor: default;
}

.pay-label .field.is-focused + span {
  border-bottom-color: #8BC24A;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #000;
  outline: none;
  cursor: text;
  display: block;
  width: 100%;
  line-height: 32px;
  padding-bottom: 3px;
  transition: opacity 200ms ease-in-out;
}

.field::-webkit-input-placeholder { color: #000; }
.field::-moz-placeholder { color: #000; }

/* IE doesn't show placeholders when empty+focused */
 .field:-ms-input-placeholder { color: #424770; }

.field.is-empty:not(.is-focused) {
  opacity: 0;
}

#pay-btn:focus {
  background: #679F37;
}

#pay-btn:active {
  background: #679F37;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 15px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #34D08C;
}

.success .token {
  font-weight: 500;
  font-size: 15px;
}

.circle{
	/*border: 2px solid red;*/
	width: 100px;
	height: 100px;
	border-radius:100%;
}