body{
	background-color: #ffffff;
	padding:0;
	margin:0;
	height:100%;
	margin:0px;
	overflow-x:hidden !important;
}
.row{
	margin: 0px !important;
}
#text-slider li,#text-slider2 li{
	display: none;
}

#slider-one{
	background-color: #F4F5F8 !important;
}

.button-scroll{
	position: absolute;
	bottom: 10vh;
	left:calc(50% - 13px);
	width: 26px;
	height: 50px;
	border-radius: 15px;
	border: 2px solid #fff;
	z-index: 9;
}

.movingBoxes .mb-wrapper{
	background-color: #F4F5F8 !important;
}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
	.container-full, .gftnow-landing-video{
		height: 90%;
	}

	/*.gftnow-landing-video{
		background-size: cover !important;
	}*/
	.gftnow-landing-video span.mask{
		min-height: 100%;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.container-full, .gftnow-landing-video{
		height: 90%;
	}

	.gftnow-landing-video{
		background-size: cover !important;
	}

	.gftnow-landing-video span.mask{
		min-height: 100%;
	}
}