body{
	overflow-x: hidden !important;
}
.row{
	margin: 0px !important;
}
#text-slider li{
	display: none;
	position: absolute;
}
.button-scroll{position:absolute;bottom:10vh;left:calc(50% - 13px);width:26px;height:50px;border-radius:15px;border:2px solid #fff;z-index:9}

@media only screen and (max-width: 767px) and (min-width: 320px) {
	.gftnow-phone-bg{
		width:240px !important;
		height:450px !important;
	}
	.phone{
		width: 200px !important;
		margin-top:-50px !important;
	}
	#animated-pin{
		left:40px !important;
	}
	#small-elipse{
		left:45px !important;
	}
	#big-elipse{
		left:-340px !important;
	}
	.section{
		height:510px !important;
	}
	#gftnow-landing-discover-description {
		top: -700px !important;
	}
	#gftnow-landing-discover-description h1{
		font-size: 30px !important;
	}
	#gftnow-landing-discover-description p{
		font-size: 20px !important;
	}
	#gftnow-landing-discover .gftnow-phone-bg{
		left: 90px !important;
	}
	#jordan-shoes{
		left: -160px !important;
		bottom:60px !important;
		z-index:9997 !important;
	}
	#healthy-burger{
		width:180px !important;
		height:130px !important;
		left:240px !important;
		top:590px !important;
		z-index:9998 !important;
	}
	#gftnow-landing-share{
		height:700px !important;
	}
	#gftnow-landing-share-description{
		top: 40px !important;
		display: block !important;
		left: -10px !important;
	}
	#gftnow-landing-share-description h1{
		font-size: 30px !important;
	}
	#gftnow-landing-share-description p{
		font-size: 20px !important;
	}					
	#gftnow-landing-share .gftnow-phone-bg{
		top: -480px !important;
		left: 85px !important;
		display: block !important;
	}
	#gftnow-landing-give-description{
		top:-950px !important;
		right: 5px !important;
	}
	#gftnow-landing-give-description h1{
		font-size: 30px !important;
	}
	#gftnow-landing-give-description p{
		font-size: 20px !important;
	}
	#girl-and-phone{
		width:512px !important;
		height:567px !important;
		top:270px !important;
		left:-170px !important;
	}
	#gift-card{
		height:90px !important;
		width:210px !important;
		top:630px !important;
		left: 200px !important;
	}
	#gftnow-landing-give .gftnow-phone-bg{
		left: 70px !important;
		top: 260px !important;
	}
	#gftnow-landing-slider{
		height: 700px !important;
	}
	#gftnow-landing-slider-description{
		top: 50px !important;
	}
	#gftnow-landing-slider-description h1{
		font-size: 30px !important;
	}
	#gftnow-landing-slider-description p{
		font-size: 20px !important;
	}
	#canvas{
		top: 0 !important;
	}
	#green-container{
		width: 320px !important;
		height: 264px !important;
		right: 0 !important;
		top: 200px !important;
	}
	#text-slider{
		top: 370px !important;
		right: 65px !important;
		font-size: 16px !important;
		width: 250px !important;
	}
	#gftnow-landing-slider-images{
		top:-700px;
	}
	#gftnow-landing-download{
		height:700px !important;
	}
	#gftnow-landing-download h1{
		font-size: 25px !important;
	}
	#gftnow-landing-download p{
		font-size: 20px !important;
	}
	#gftnow-landing-download-description{
		top: -80px !important;
		z-index: 9999 !important;
	}
	#gftnow-landing-download .gftnow-phone-bg{
		bottom: -250px !important;
		left: -1px !important;
		z-index: 9998 !important;
	}
	.download-img{
		width: 140px !important;
		height: 45px !important;
	}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
	.gftnow-phone-bg{
		width:220px !important;
		height:440px !important;
	}
	.phone{
		width: 185px !important;
		margin-top:-35px!important;
	}
	#gftnow-landing-discover-description{
		top: -650px !important;
		left: 450px;
		width: 350px;
	}
	#gftnow-landing-discover-description h1{
		font-size: 35px !important;
	}
	#gftnow-landing-discover-description p{
		font-size: 25px !important;
	}
	#gftnow-landing-discover .gftnow-phone-bg{
		left: 140px !important;	
	}
	#gftnow-landing-share-description{
		top: 140px !important;
		left: 100px;
		display: block !important;
		width: 350px;
	}
	#gftnow-landing-share-description h1{
		font-size: 35px !important;
	}
	#gftnow-landing-share-description p{
		font-size: 25px !important;
	}
	#gftnow-landing-share .gftnow-phone-bg{
		top: -600px !important;
		left: 600px !important;
		display: block !important;
	}
	#gftnow-landing-give-description{
		top:-850px;
		left:450px;
		width:350px;
	}
	#gftnow-landing-give-description h1{
		font-size: 35px !important;
	}
	#gftnow-landing-give-description p{
		font-size: 25px !important;
	}
	#gftnow-landing-give .gftnow-phone-bg{
		left: 180px !important;
	}
	#girl-and-phone{
		width:532px !important;
		height:587px !important;
		top:270px !important;
		left:-170px !important;
	}
	#gift-card{
		height:90px !important;
		width:250px !important;
		top:630px !important;
		left: 200px !important;
	}
	#gftnow-landing-slider-description{
		top: 140px !important;
		left: 70px;
		width:300px;
	}
	#gftnow-landing-slider-description h1{
		font-size: 35px !important;
	}
	#gftnow-landing-slider-description p{
		font-size: 25px !important;
	}
	#canvas{
		top: 0 !important;
	}
	#green-container{
		width: 398px !important;
		height: 324px !important;
		left: -350px !important;
		top: 50px !important;
	}
	#text-slider{
		top: 280px !important;
		left: -10px !important;
		font-size: 21px !important;
		width:350px !important;
	}
	#gftnow-landing-slider-images{
		top:-820px;
		left: 354px !important;
	}
	#gftnow-landing-download h1{
		font-size: 25px !important;
	}
	#gftnow-landing-download p{
		font-size: 20px !important;
	}
	#gftnow-landing-download-description{
		top: -10px !important;
		right: -7px !important;
		z-index: 9999 !important;
	}
	#gftnow-landing-download .gftnow-phone-bg{
		left: 50px !important;
	}
	.download-img{
		width: 140px !important;
		height: 45px !important;
	}
}